
<template>
    <div>
        <el-form :model="dataform" :rules="rules" ref="dataform" label-width="100px">
        <el-form-item label="传感器编号" prop="name">
            <el-input v-model="dataform.name"></el-input>
        </el-form-item>
        <el-form-item label="位置" prop="position">
            <el-select v-model="dataform.position" placeholder="请选择位置">
                <el-option label="前段" value="1"></el-option>
                <el-option label="中端" value="2"></el-option>
                <el-option label="后端" value="3"></el-option>
                <el-option label="南塔" value="4"></el-option>
                <el-option label="中塔" value="4"></el-option>
                <el-option label="北塔" value="5"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="服役日期" prop="date">
            <el-date-picker
                v-model="dataform.date"
                type="date"
                placeholder="选择日期">
            </el-date-picker>
        </el-form-item>
        <el-form-item label="工作状态" prop="status">
            <el-select v-model="dataform.status" placeholder="请选择工作状态">
                <el-option label="优" value="1"></el-option>
                <el-option label="良" value="2"></el-option>
                <el-option label="中" value="3"></el-option>
                <el-option label="差" value="4"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="resetForm('dataform')">创建</el-button>
            <el-button @click="resetForm('dataform')">重置</el-button>
        </el-form-item>
    </el-form>
    </div>
</template>

<script>
export default {
    data(){
        return {
            dataform: {
                name: '',
                position: '',
                date: '',
                status: ''
            },
            rules: {
                name: [{ required: true, message: '请输入姓名', trigger: 'blur' }],
                position: [{ required: true, message: '请输入用户名', trigger: 'change' }],
                date: [{ required: true, message: '选择日期', trigger: 'change' }],
                status: [{ required: true, message: '请选择权限等级', trigger: 'change' }]

            }
        };
    },
    methods: {
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            alert('submit!');
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
                
      }
    }

}
</script>

<style>

</style>
