
<template>
    <div>
        <el-form :model="dataform" :rules="rules" ref="dataform" label-width="100px">
        <el-form-item label="姓名" prop="name">
            <el-input v-model="dataform.name"></el-input>
        </el-form-item>
        <el-form-item label="用户名" prop="uname">
            <el-input v-model="dataform.uname"></el-input>
        </el-form-item>
        <el-form-item label="密码" prop="passwd">
            <el-input type="password" v-model="dataform.passwd"></el-input>
        </el-form-item>
        <el-form-item label="权限等级" prop="acclvl">
            <el-select v-model="dataform.acclvl" placeholder="请选择权限等级">
                <el-option label="普通" value="1"></el-option>
                <el-option label="管理员" value="2"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="resetForm('dataform')">创建</el-button>
            <el-button @click="resetForm('dataform')">重置</el-button>
        </el-form-item>
    </el-form>
    </div>
</template>

<script>
export default {
    data(){
        return {
            dataform: {
                name: '',
                uname: '',
                passwd: '',
                acclvl: ''
            },
            rules: {
                name: [{ required: true, message: '请输入姓名', trigger: 'blur' }],
                uname: [{ required: true, message: '请输入用户名', trigger: 'blur' }],
                passwd: [{ required: true, message: '请输入密码', trigger: 'blur' },
                        { min: 8, max: 18, message: '长度在 8 到 18 个字符', trigger: 'blur' }],
                acclvl: [{ required: true, message: '请选择权限等级', trigger: 'change' }]

            }
        };
    },
    methods: {
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            alert('submit!');
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
                
      }
    }

}
</script>

<style>

</style>
