<template>
    <el-tabs type="border-card">
            <el-tab-pane label="传感器管理">
                <SensorAdmin />
            </el-tab-pane>
            <el-tab-pane label="传感器添加">
                <AddSensor />
            </el-tab-pane>
    </el-tabs>
</template>
<script>
import SensorAdmin from './SensorAdminTable.vue'
import AddSensor from './AddSensor.vue'
export default {
    data(){
        return{
           
        } 

    },
    
    components:
    {
        SensorAdmin,
        AddSensor
    }


}
</script>