<template>
    <el-tabs type="border-card">
            <el-tab-pane label="用户管理">
                <SiteAdmin />
            </el-tab-pane>
            <el-tab-pane label="用户添加">
                <AddSite />
            </el-tab-pane>
        </el-tabs>
</template>
<script>
import SiteAdmin from './SiteAdminTable.vue'
import AddSite from './AddSite.vue'
export default {
    data(){
        return{
           
        } 

    },
    
    components:
    {
        SiteAdmin,
        AddSite
    }


}
</script>