<template>
  <el-table
    :data="tableData.filter(data => !search || data.name.toLowerCase().includes(search.toLowerCase()))"
    style="width: 100%"
    min-height="80%" fit stripe>
    <el-table-column
      fixed
      prop="name"
      label="站点名称"
      width="150">
    </el-table-column>
    <el-table-column
      prop="addr"
      label="地址"
      width="120">
    </el-table-column>
    <el-table-column
      prop="startdate"
      label="服役时间"
      width="120">
    </el-table-column>
    <el-table-column
      prop="status"
      label="工作状态"
      width="120">
    </el-table-column>
    <el-table-column
      label="操作"
      width="240">
      <template slot-scope="scope">
        <el-button
          size="mini"
          type="primary"
          @click="handleEdit(scope.$index, scope.row)">编辑
          </el-button>
        <el-button
          @click.native.prevent="deleteRow(scope.$index, tableData)"
          type="danger"
          size="mini">
          移除
        </el-button>
      </template>
    </el-table-column>
    <el-table-column align="right" width="240">
        <template slot="header" slot-scope="scope" >
        <el-input
          v-model="search"
          size="mini"
          placeholder="输入关键字搜索"/>
      </template>
    </el-table-column>
  </el-table>
</template>

<script>
  export default {
    methods: {
      deleteRow(index, rows) {
        rows.splice(index, 1);
      },
      handleEdit(index, row) {
        console.log(index, row);
      }
    },
    data() {
      return {
        tableData: [{
          name: '马鞍山大桥',
          addr: '马鞍山',
          startdate: '2016-1-1',
          status: '良',
        }, {
          name: '南京长江大桥',
          addr: '南京',
          startdate: '2016-1-1',
          status: '良',
        }, {
          name: '南京长江二桥',
          addr: '南京',
          startdate: '2016-1-1',
          status: '良',
        }, {
          name: '港珠澳大桥',
          addr: '香港澳门珠江',
          startdate: '2016-1-1',
          status: '良',
        }],
        search: ''
      }
    }
  }
</script>