<template>
    <el-tabs type="border-card">
            <el-tab-pane label="用户管理">
                <UserAdmin />
            </el-tab-pane>
            <el-tab-pane label="用户添加">
                <AddUser />
            </el-tab-pane>
        </el-tabs>
</template>
<script>
import UserAdmin from './UserAdminTable.vue'
import AddUser from './AddUser.vue'
export default {
    data(){
        return{
           
        } 

    },
    
    components:
    {
        UserAdmin,
        AddUser
    }


}
</script>