<template>
  <el-table
    :data="tableData.filter(data => !search || data.name.toLowerCase().includes(search.toLowerCase()))"
    style="width: 100%"
    min-height="80%" fit stripe>
    <el-table-column
      fixed
      prop="name"
      label="姓名"
      width="150">
    </el-table-column>
    <el-table-column
      prop="uname"
      label="用户名"
      width="120">
    </el-table-column>
    <el-table-column
      prop="addr"
      label="地址"
      width="120">
    </el-table-column>
    <el-table-column
      prop="acclvl"
      label="权限等级"
      width="120">
    </el-table-column>
    <el-table-column
      label="操作"
      width="240">
      <template slot-scope="scope">
        <el-button
          size="mini"
          type="primary"
          @click="handleEdit(scope.$index, scope.row)">编辑
          </el-button>
        <el-button
          @click.native.prevent="deleteRow(scope.$index, tableData)"
          type="danger"
          size="mini">
          移除
        </el-button>
      </template>
    </el-table-column>
    <el-table-column align="right" width="240">
        <template slot="header" slot-scope="scope" >
        <el-input
          v-model="search"
          size="mini"
          placeholder="输入关键字搜索"/>
      </template>
    </el-table-column>
  </el-table>
</template>

<script>
  export default {
    methods: {
      deleteRow(index, rows) {
        rows.splice(index, 1);
      }
    },
    data() {
      return {
        tableData: [{
          name: '王小虎',
          uname: 'wxh',
          addr: '上海市普陀区金沙江路 1518 弄',
          acclvl: '普通',
        }, {
          name: '李逍遥',
          uname: 'lxy',
          addr: '上海市普陀区金沙江路 1518 弄',
          acclvl: '普通',
        }, {
          name: '张三',
          uname: 'zs',
          addr: '上海市普陀区金沙江路 1518 弄',
          acclvl: '管理员',
        }, {
          name: '李四',
          uname: 'ls',
          addr: '上海市普陀区金沙江路 1518 弄',
          acclvl: '管理员',
        }, {
          name: '王五',
          uname: 'ww',
          addr: '上海市普陀区金沙江路 1518 弄',
          acclvl: '普通',
        }, {
          name: '王朗',
          uname: 'wl',
          addr: '上海市普陀区金沙江路 1518 弄',
          acclvl: '管理员',
        }, {
          name: '刘秀',
          uname: 'ls',
          addr: '上海市普陀区金沙江路 1518 弄',
          acclvl: '管理员',
        }],
        search: ''
      }
    }
  }
</script>