<template>
     <ve-histogram :data="chartData" :toolbox="toolbox"></ve-histogram>
</template>
<script>
export default {
    data () {
      this.toolbox = {
                        feature: {
                                saveAsImage: {}
                        }
                      }
      return {
        chartData: {
          columns: ['SensorID','s001', 's002', 's003', 's004','s005','s006','s007'],
          rows: [
           {'SensorID':'sensor','s001': 4.5, 's002': 4.8, 's003': 4.9, 's004': 5.5,'s005': 5.6,'s006': 4.8,'s007': 5.9}
          ]
        }
      }
    }
}
</script>

