<template>
    <div>
        <ve-line :data="chartData" :toolbox="toolbox"></ve-line>
        <div>
            <span>实时</span>
            <el-switch v-model="isLive" active-text="开" inactive-text="关" @change="liveSwitch"></el-switch>
        </div>
        
    </div>
</template>

<script>

export default {
    data () {
        this.toolbox = {
                        feature: {
                                saveAsImage: {}
                        }
                      }
        return{
            isLive: false,
            chartData: {
                columns: ['time','value'],
                rows: [
                    { 'time': 1, 'value': 4.5 },
                    { 'time': 2, 'value': 5.5 },
                    { 'time': 3, 'value': 4.3 },
                    { 'time': 4, 'value': 6.5 },
                    { 'time': 5, 'value': 8.5 },
                    { 'time': 6, 'value': 3.5 },
                    { 'time': 7, 'value': 4.8 },
                    { 'time': 8, 'value': 4 },
                    { 'time': 9, 'value': 4.2 },
                    { 'time': 10, 'value': 5.5 },
                ]
            }
        }
    },
    methods: {
        async liveSwitch(){
            let n = Math.random()+Math.random()*10+4;
            var count = 11;
            while(this.isLive)
            {
                console.log(this.count+" "+n)
                this.chartData.rows.push({
                    'time': count,
                    'value': n
                })
                count++;
                await this.sleep(500);
            }



            
        },

        sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }
        
    }
  
}
</script>
