<template>
    <el-container>
        <el-header>
            <el-row type="flex" class="row-bg">
                <el-col :span="4">
                    <el-select v-model="svalue" filterable placeholder="请选择传感器">
                        <el-option
                        v-for="item in sensors"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                        </el-option>
                     </el-select>
                </el-col>
                <el-col :span="4">
                    <el-select v-model="cvalue" clearable placeholder="请选择">
                        <el-option
                        v-for="item in charts"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                        </el-option>
                    </el-select>
                </el-col>
                <el-col :span="4"><el-button type="primary" @click="loadChart">重载</el-button></el-col>
            </el-row>
            
        </el-header>
        <el-main>
          <component :is="charttype"></component>
        </el-main>
    </el-container>
</template>
<script>
import LivelineChart from './LiveLineChart'
import Card from './CardContent'
import BarChart from './BarChart'
import SpectrumChart from './SpectrumChart'
import SingleBarChart from './SingleBarChart'
import TrendChart from '../Home/LineChart'
import RoseChart from './RoseChart'
export default {
     data() {
      return {
        sensors: [{
          value: '1',
          label: 'FS001'
        }, {
          value: '2',
          label: 'FS002'
        }, {
          value: '3',
          label: 'FS003'
        }, {
          value: '4',
          label: 'FS004'
        }, {
          value: '5',
          label: 'FS005'
        },{
          value: '6',
          label: '全部'
        }
        ],
        svalue: '',

        charts:[{value: '1', label:'实时'},
                {value: '2', label:'示值'},
                {value: '3', label:'频谱'},
                {value: '4', label:'趋势'},
                {value: '5', label:'玫瑰图'},],
        cvalue:'',
        charttype: ''
      }
    },

    methods:{
        loadChart()
        {
            let sid = this.$data.svalue;
            let cid = this.$data.cvalue;
            if(cid=='1')
            {
                this.$data.charttype='LivelineChart';
            }
            else if(cid=='2' && sid=='6')
            {
                this.$data.charttype='BarChart'
            }
            else if(cid=='2')
            {
                this.$data.charttype='SingleBarChart';
            }
            else if(cid=='3')
            {
                this.$data.charttype='SpectrumChart';
            }
            else if(cid=='4')
            {
                this.$data.charttype='TrendChart';
            }
            else if(cid='5')
            {
                this.$data.charttype='RoseChart'
            }
            
        }
        
    },

    components:{
        LivelineChart,
        BarChart,
        SpectrumChart,
        SingleBarChart,
        TrendChart,
        RoseChart
    }
}
</script>

