<template>
  <ve-radar :data="chartData" :toolbox="toolbox"></ve-radar>
</template>

<script>
  export default {
    data () {
        this.toolbox = {
                        feature: {
                                saveAsImage: {}
                        }
                      }
      return {
        chartData: {
          columns: ['北', '东北', '东', '东南','南','西南','西','西北'],
          rows: [
            { '北': 3.5, '东北': 5.5, '东': 4.2, '东南': 4.5,'南': 6.5,'西南': 8.5,'西': 1.2,'西北': 1.3},
          ]
        }
      }
    }
  }
</script>