<template>
     <ve-histogram :data="chartData" :toolbox="toolbox"></ve-histogram>
</template>
<script>
export default {
    data () {
        this.toolbox = {
                        feature: {
                                saveAsImage: {}
                        }
                      }
      return {
        chartData: {
          columns: ['Time','Wind Speed'],
          rows: [
           {'Time': 1, 'Wind Speed': 2.3},
           {'Time': 2, 'Wind Speed': 3.3},
           {'Time': 3, 'Wind Speed': 2},
           {'Time': 4, 'Wind Speed': 5.3},
           {'Time': 5, 'Wind Speed': 6.3},
           {'Time': 6, 'Wind Speed': 4.5},
           {'Time': 7, 'Wind Speed': 5.5},
           {'Time': 8, 'Wind Speed': 6},
           {'Time': 9, 'Wind Speed': 3.5},
           {'Time': 10, 'Wind Speed': 8.3},
           {'Time': 11, 'Wind Speed': 9.3},
           {'Time': 12, 'Wind Speed': 10.3},
           {'Time': 13, 'Wind Speed': 3.3},
           {'Time': 14, 'Wind Speed': 6.3},
           {'Time': 15, 'Wind Speed': 8.3},
           {'Time': 16, 'Wind Speed': 8.3},
           {'Time': 17, 'Wind Speed': 2.3},
           {'Time': 18, 'Wind Speed': 5.3},
           {'Time': 19, 'Wind Speed': 4.3},
           {'Time': 20, 'Wind Speed': 3.3},
          ]
        }
      }
    }
}
</script>