 <template>
    <div>
        <ve-line :data="chartData" :toolbox="toolbox"></ve-line>
        <div>
            <span>实时</span>
            <el-switch v-model="isLive" active-text="开" inactive-text="关" @change="liveSwitch"></el-switch>
        </div>
        
    </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
export default {
    
    data () {
        this.toolbox = {
                        feature: {
                                saveAsImage: {}
                        }
                      }

        return{
            count: 11,
            isLive: false,
            fftdata: [  8.917311333789257e-13,
                        0.04212954250463791,
                        0.08426627308165625,
                        0.12641738412976003,
                        0.16859007670467846,
                        0.21079156492286752,
                        0.2530290802721447,
                        0.29530987603060166,
                        0.33764123164408255,
                        0.38003045727076934,
                        0.42248489813346163,
                        0.46501193920794104,
                        0.5076190096784614,
                        0.5503135877122416,
                        0.5931032050060049,
                        0.6359954518592547,
                        0.6789979815937501,
                        0.722118515926025,
                        0.7653648497396407,
                        0.8087448563372903,
                        0.852266492672662,
                        0.8959378045937441,
                        0.9397669324285927,
                        0.9837621166497535,
                        1.0279317032901651,
                        1.0722841503554243,
                        1.1168280333477514,
                        1.1615720517970458,
                        1.2065250354802617,
                        1.251695951196947,
                        1.2970939092839557,
                        1.3427281707093084,
                        1.388608154340042,
                        1.4347434442368285,
                        1.481143797459534,
                        1.5278191518439104,
                        1.5747796343944704,
                        1.6220355696339246,
                        1.6695974885072653,
                        1.7174761374152274,
                        1.7656824877873416,
                        1.8142277458239138,
                        1.8631233627270418,
                        1.9123810453201688,
                        1.9620127670465957,
                        2.0120307794459595,
                        2.062447624087025,
                        2.1132761450201127,
                        2.164529501725188,
                        2.21622118257213,
                        2.268365018991045,
                        2.32097520012372,
                        2.374066288181721,
                        2.427653234447728,
                        2.48175139623592,
                        2.536376554049517,
                        2.5915449304297,
                        2.6472732088008333,
                        2.703578553312133,
                        2.760478630919483,
                        2.8179916323893046,
                        2.876136296176936,
                        2.934931932340449,
                        2.9943984484323543,
                        3.054556376014263,
                        3.1154268991159535,
                        3.177031883691379,
                        3.239393908965852,
                        3.3025363001999914,
                        3.366483163241855,
                        3.4312594210951213,
                        3.496890852183049,
                        3.563404131025367,
                        3.6308268708375375,
                        3.6991876689217933,
                        3.768516154109312,
                        3.838843037420409,
                        3.9102001653013136,
                        3.9826205761414175,
                        4.056138559978456,
                        4.130789721910484,
                        4.206611049307344,
                        4.283640982849123,
                        4.361919492384843,
                        4.4414881570904186,
                        4.522390250870738,
                        4.604670833172245,
                        4.688376845514938,
                        4.77355721446939,
                        4.860262961171741,
                        4.948547318336669,
                        5.038465854954151,
                        5.130076609516454,
                        5.223440232468108,
                        5.318620138381934,
                        5.415682669072634,
                        5.51469726808086,
                        5.615736668012524,
                        5.718877091201475,
                        5.824198465491322,
                        5.931784656083094,
                        6.0417237147867215,
                        6.1541081485880476,
                        6.269035208988696,
                        6.386607204141362,
                        6.506931836010233,
                        6.630122564514215,
                        6.75629900190742,
                        6.885587339616473,
                        7.018120811306908,
                        7.154040195364728,
                        7.293494361088135,
                        7.436640862964317,
                        7.583646587890225,
                        7.734688461389871,
                        7.889954218526075,
                        8.049643247248648,
                        8.213967511575229,
                        8.383152564188881,
                        8.557438658164413,
                        8.737081969835305,
                        8.922355945485835,
                        9.113552787235905,
                        9.310985094887995,
                        9.514987683218212,
                        9.725919597084697,
                        9.944166349861844,
                        10.170142414708153,
                        10.404294002420556,
                        10.647102165369743,
                        10.899086273000293,
                        11.160807911406229,
                        11.43287526957743,
                        11.71594808353406,
                        12.010743223774172,
                        12.318041025562735,
                        12.638692479915525,
                        12.973627424793861,
                        13.323863902896035,
                        13.690518884966131,
                        14.074820595749765,
                        14.478122730573785,
                        14.901920908606108,
                        15.347871785395386,
                        15.817815338885257,
                        16.313800962424743,
                        16.83811814457345,
                        17.393332705798045,
                        17.982329801782853,
                        18.60836521600535,
                        19.275126866662646,
                        19.98680898311615,
                        20.74820210431383,
                        21.564802982208786,
                        22.442949722439202,
                        23.389989192504267,
                        24.414486059096667,
                        25.52648605331242,
                        26.737850617754486,
                        28.062686585194516,
                        29.51790393635141,
                        31.12394850733957,
                        32.90577719912477,
                        34.89417479319015,
                        37.12756063373526,
                        39.65451183663835,
                        42.5373580257586,
                        45.85741891889404,
                        49.7228329257145,
                        54.28060652093961,
                        59.735801404002025,
                        66.38333281022851,
                        74.66323906930265,
                        85.26247003140814,
                        99.31632700357024,
                        118.84556635453762,
                        147.82872605203127,
                        195.33090843755969,
                        287.4515699199194,
                        542.7870330825883,
                        4766.961480012688,
                        704.6822168010807,
                        328.4660847136509,
                        214.2899275712266,
                        159.0920814977921,
                        126.55087734695573,
                        105.08972187493548,
                        89.87108441964519,
                        78.51573565135003,
                        69.71721716060338,
                        62.69846472300847,
                        56.968326646402794,
                        52.20114238969508,
                        48.172455855230645,
                        44.722535680162494,
                        41.73461365638984,
                        39.12134989800867,
                        36.8161114382708,
                        34.767178890426386,
                        32.9337950570203,
                        31.283406631657716,
                        29.789698843920817,
                        28.431169263228632,
                        27.190075746603537,
                        26.051648816947658,
                        25.003494048225566,
                        24.03513304735735,
                        23.137646928335734,
                        22.303396537362946,
                        21.525800820077556,
                        20.799159706050027,
                        20.118511416415057,
                        19.479516634230446,
                        18.878363816767802,
                        18.31169128093661,
                        17.776522694311634,
                        17.270213356195686,
                        16.79040522004192,
                        16.334989041386823,
                        15.902072368301152,
                        15.489952348703403,
                        15.097092529077738,
                        14.722102978002626,
                        14.36372319082832,
                        14.02080733257036,
                        13.692311453391461,
                        13.377282376506368,
                        13.07484800786109,
                        12.78420886051705,
                        12.50463061901071,
                        12.235437598264284,
                        11.976006973567264,
                        11.725763677823277,
                        11.484175877453502,
                        11.250750952122369,
                        11.025031913451452,
                        10.806594208392388,
                        10.595042859216946,
                        10.39000989993135,
                        10.191152073477477,
                        9.998148759548892,
                        9.8107001061571,
                        9.628525342127206,
                        9.451361250202403,
                        9.278960783371318,
                        9.111091808493025,
                        8.947535964285054,
                        8.78808762108017,
                        8.632552932413583,
                        8.480748968437926,
                        8.332502923625968,
                        8.187651390899244,
                        8.046039695948112,
                        7.90752128564479,
                        7.7719571660781215,
                        7.639215384398138,
                        7.509170551733663,
                        7.381703402682414,
                        7.256700387081255,
                        7.134053294017984,
                        7.013658901815839,
                        6.895418654335501,
                        6.779238359522456,
                        6.665027909728105,
                        6.5527010207070635,
                        6.442174988612743,
                        6.333370462927877,
                        6.2262112343595915,
                        6.120624036062918,
                        6.0165383576038876,
                        5.91388627010263,
                        5.81260226203576,
                        5.7126230844714545,
                        5.613887605328251,
                        5.5163366717312545,
                        5.419912979542794,
                        5.324560950039304,
                        5.230226612683403,
                        5.136857493566623,
                        5.044402509161984,
                        4.952811864654944,
                        4.86203695695299,
                        4.772030281071751,
                        4.682745340622959,
                        4.594136560857169,
                        4.506159205312469,
                        4.418769294022934,
                        4.331923524794558,
                        4.245579195504747,
                        4.159694129085302,
                        4.074226598500405,
                        3.989135253487019,
                        3.9043790485494916,
                        3.8199171699765646,
                        3.735708964525319,
                        3.651713867084357,
                        3.5678913283927467,
                        3.4842007419823937,
                        3.4006013703806293,
                        3.3170522697389906,
                        3.233512213357403,
                        3.149939612931365,
                        3.066292438061833,
                        2.982528132686474,
                        2.8986035291497463,
                        2.8144747584525276,
                        2.730097157093161,
                        2.645425169438744,
                        2.560412245642308,
                        2.4750107339925154,
                        2.389171767741368,
                        2.302845145184401,
                        2.2159792028883882,
                        2.128520680640973,
                        2.04041457803277,
                        1.9516040009451854,
                        1.8620299979946895,
                        1.7716313845073022,
                        1.6803445541292268,
                        1.5881032756205835,
                        1.4948384741756682,
                        1.4004779949526536,
                        1.3049463473326948,
                        1.2081644277481125,
                        1.110049218613588,
                        1.0105134608597195,
                        0.909465297111711,
                        0.8068078823017121,
                        0.7024389577567566,
                        0.5962503847226026,
                        0.48812763257530606,
                        0.37794921633517725,
                        0.26558607705105586,
                        0.15090089841557297,
                        0.03374735161575225,
                        0.08603074126098177,
                        0.20860033485085466,
                        0.3341401921687607,
                        0.4628420336499805,
                        0.594911819676228,
                        0.7305711854632908,
                        0.8700590497596947,
                        1.0136334228600679,
                        1.1615734429625144,
                        1.3141816761202718,
                        1.4717867199118981,
                        1.6347461595452448,
                        1.8034499324371234,
                        1.978324170548233,
                        2.1598355993514478,
                        2.34849659227935,
                        2.5448709960991973,
                        2.749580868882471,
                        2.963314301742947,
                        3.1868345333477865,
                        3.4209906142121054,
                        3.6667299365725925,
                        3.925113023038477,
                        4.197331063154695,
                        4.484726813499317,
                        4.788819638434979,
                        5.111335681920199,
                        5.454244439953516,
                        5.819803376839915,
                        6.210612727602213,
                        6.629683306529923,
                        7.080521073705364,
                        7.5672334964343175,
                        8.094664554854564,
                        8.66856781500463,
                        9.295830708321605,
                        9.984768612213225,
                        10.745515461053579,
                        11.590549994997303,
                        12.535415971625563,
                        13.59972520507607,
                        14.808582085438525,
                        16.19465176470866,
                        17.801238957296253,
                        19.687004577366853,
                        21.933435605527098,
                        24.65714524891933,
                        28.031087582915294,
                        32.32325973900631,
                        37.97238794354615,
                        45.74964044742467,
                        57.14710596070499,
                        75.47716983355565,
                        109.86654633536644,
                        197.99033716876076,
                        918.1129800996313,
                        358.604918153081,
                        151.78959755628955,
                        96.95159872757868,
                        71.56899703824753,
                        56.924964183223466,
                        47.388546662729205,
                        40.67993276804608,
                        35.70036953031401,
                        31.855045582714634,
                        28.79389470173488,
                        26.297455355452236,
                        24.22115779980631,
                        22.46588830520997,
                        20.96142501584419,
                        19.656624931524867,
                        18.51335602254136,
                        17.5026066538144,
                        16.601912267557637,
                        15.793606792046477,
                        15.063606041408544,
                        14.400543391853748,
                        13.795144206050665,
                        13.239765452859315,
                        12.728051773867655,
                        12.254675023713013,
                        11.815134567165606,
                        11.405602416480662,
                        11.022801886822904,
                        10.66391160000911,
                        10.32648886668815,
                        10.00840803163772,
                        9.707810479882324,
                        9.423063809310472,
                        9.152728266609788,
                        8.895528982602329,
                        8.65033287001605,
                        8.416129295266286,
                        8.19201382360173,
                        7.97717448214319,
                        7.7708800969789165,
                        7.572470347770107,
                        7.3813472516778615,
                        7.196967842338003,
                        7.01883785258302,
                        6.84650624365011,
                        6.679560451455049,
                        6.5176222420051095,
                        6.360344087304021,
                        6.207405985992072,
                        6.0585126669662035,
                        5.913391122394614,
                        5.7717884258989205,
                        5.633469797811576,
                        5.498216885357153,
                        5.365826230110143,
                        5.236107899255101,
                        5.108884260347002,
                        4.983988882076769,
                        4.861265545797944,
                        4.740567355428396,
                        4.621755933309334,
                        4.504700693076986,
                        4.389278180420231,
                        4.275371474398048,
                        4.162869642568916,
                        4.051667244164624,
                        3.9416638761442466,
                        3.832763757993386,
                        3.724875350402708,
                        3.6179110050858636,
                        3.511786642498887,
                        3.406421454060882,
                        3.3017376271405534,
                        3.1976600899219867,
                        3.0941162747371935,
                        2.991035897548167,
                        2.8883507522467253,
                        2.78599451819397,
                        2.6839025799738923,
                        2.5820118576448077,
                        2.4802606467860007,
                        2.378588467340598,
                        2.2769359202227686,
                        2.175244550837299,
                        2.0734567188794375,
                        1.9715154737690435,
                        1.869364434785565,
                        1.7669476756075766,
                        1.664209612438345,
                        1.561094895595431,
                        1.4575483034419352,
                        1.3535146388743955,
                        1.2489386272997747,
                        1.1437648163356795,
                        ],
            fftlength: 1400,
            chartData: {
                columns: ['time','value'],
                rows: [
                    { 'time': 1, 'value': 1.251695951},
                    { 'time': 2, 'value': 1.297093909},
                    { 'time': 3, 'value': 1.342728171},
                    { 'time': 4, 'value': 1.388608154},
                    { 'time': 5, 'value': 1.434743444},
                    { 'time': 6, 'value': 1.481143797},
                    { 'time': 7, 'value': 1.527819152},
                    { 'time': 8, 'value': 1.574779634},
                    { 'time': 9, 'value': 1.62203557},
                    { 'time': 10, 'value': 1.669597489},
                ]
            }
        }
    },
    methods: {
        async liveSwitch(){
            //var count = this.count;
            // console.log("Called");
            // console.log(this.fftlength);
            while(this.isLive && this.count <= this.fftdata.length)
            {
                this.chartData.rows.push({
                    'time': this.count,
                    'value': this.fftdata[this.count]
                 })
                this.count++;
                await this.sleep(200);
            }



            
        },

        sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }
        
    },
    computed: {
        ...mapGetters(['getFFTAmount']),
        ...mapState([
            'fft'
        ])
    },

  
}
</script>
