<template>
    <div>
        <!-- <UserAdmin/>
        <h1>Admin</h1>
        <h2>{{$route.params.itemname}}</h2> -->
        
        <div v-if="$route.params.itemname=='useradmin'">
            <UserAdmin/>
        </div>
        <div v-if="$route.params.itemname=='sensoradmin'">
            <SensorAdmin />
        </div>
        <div v-if="$route.params.itemname=='siteadmin'">
            <SiteAdmin />
        </div>

    </div>
</template>

<script>
import UserAdmin from '../components/Admin/UserAdmin.vue'
import SensorAdmin from '../components/Admin/SensorAdmin.vue'
import SiteAdmin from '../components/Admin/SiteAdmin.vue'
export default {
    data(){
        return{
           
        } 

    },
    
    components:
    {
        UserAdmin,
        SensorAdmin,
        SiteAdmin
    }


}
</script>

<style>

</style>

