<template>
    <div>
        <DatamanagementIndex/>
    </div>
</template>
<script>
import DatamanagementIndex from '../components/Datamanagement/DataManagementIndex'
export default {
    components: {
        DatamanagementIndex
        }
}
</script>

