<template>
    <div>
        <el-row :gutter="10">
            <el-col :span="10">
                <Card>
                   <h4 slot="header">马鞍山大桥</h4>
                   <img slot="content" class="image" src="../assets/img/bridge.jpg"/>
                </Card>
            </el-col>
            <el-col :span="12">
                <Card>
                    <h4 slot="header">安徽省监控状况</h4>
                    <Map slot="content"></Map>
                </Card>
            </el-col>
            
            
        </el-row>
        <el-row :gutter="10">
            <el-col :span="12">
                <Card>
                   <h4 slot="header">马鞍山市监控情况</h4>
                   <HomePieChart slot="content"></HomePieChart>
                </Card>
            </el-col>
            <el-col :span="12">
                <Card>
                   <h4 slot="header">马鞍山市温度</h4>
                   <HomeLineChart slot="content"></HomeLineChart>
                </Card>
            </el-col>
        </el-row>
        
    </div>
</template>
<script>
import Card from '../components/Home/CardContent.vue'
import HomePieChart from '../components/Home/PieChart.vue'
import HomeLineChart from '../components/Home/LineChart.vue'
import Map from '../components/Home/Map'
export default {
    components:
    {
        Card,
        Map,
        HomePieChart,
        HomeLineChart
    }
}
</script>

<style>
.image {
    width: 100%;
    display: block;
  }
</style>

