<template>
    <div>
        <!-- <h1>Monitoring</h1>
         -->
         <!-- <h2>{{$route.params.itemname}}</h2>
        <Card>
             <BarChart/>
        </Card>
        <Card>
             <LiveLineChart/> 
        </Card>
        <Card>
             <SpectrumChart :fft="fft"/> 
        </Card> -->

        <!-- <el-row type="flex" :gutter="5">
            <el-col :span="6">
                <div>
                    
                </div>
            </el-col>
            <el-col :span="6">
                <div>
                   
                </div>
            </el-col>
        </el-row> -->
        <MonitoringIndex/>

    </div>
</template>

<script>
import MonitoringIndex from '../components/Monitoring/MonitoringIndex'
import Card from '../components/Monitoring/CardContent'
import BarChart from '../components/Monitoring/BarChart'
import LiveLineChart from '../components/Monitoring/LiveLineChart'
import { mapGetters, mapState } from 'vuex'
import SpectrumChart from '../components/Monitoring/SpectrumChart'
export default {
    data() {
        return {
            
        }
    },
    components: {
        Card,
        BarChart,
        LiveLineChart,
        SpectrumChart,
        MonitoringIndex
    },
    computed: {
        ...mapGetters([
            'getTabs'
        ]),
        ...mapState([
            'fft'
        ])
    }
    
}
</script>




