<template>
  <ve-line :data="chartData"></ve-line>
</template>

<script>
  export default {
    data: function () {
      return {
        chartData: {
          columns: ['日期', '温度'],
          rows: [
            { '日期': '1/1', '温度': 25.3 },
            { '日期': '1/2', '温度': 28.9 },
            { '日期': '1/3', '温度': 33.5 },
            { '日期': '1/4', '温度': 18.8 },
            { '日期': '1/5', '温度': 22.3 },
            { '日期': '1/6', '温度': 18.8 }
          ]
        }
      }
    }
  }
</script>