<template>
  <div>
    <ve-map :data="chartData" :settings="chartSettings" :events="chartEvents"></ve-map>
  </div>
</template>

<script>
  export default {
    data () {
      this.chartSettings = {
        position: 'province/anhui',
        // selectData: true,
        selectedMode: 'single'
      }
      this.chartEvents = {
        click: (v) => {
          this.cityName = v.name
        }
      }
      return {
        cityName: '',
        chartData: {
          columns: ['位置', '监控数量','运行状态'],
          rows: [
            { '位置': '安庆市', '监控数量': 5,'运行状态':'优' },
            { '位置': '马鞍山市', '监控数量': 2, '运行状态': '优' },
            { '位置': '池州市', '监控数量': 1, '运行状态': '良' },,
            { '位置': '亳州市', '监控数量': 1, '运行状态': '良' }
          ]
        }
      }
    }
  }
</script>