<template>
  <ve-pie :data="chartData"></ve-pie>
</template>

<script>
  export default {
    data () {
      return {
        chartData: {
          columns: ['状况', '传感器数量'],
          rows: [
            { '状况': '优', '传感器数量': 100 },
            { '状况': '良', '传感器数量': 90 },
            { '状况': '繁忙', '传感器数量': 5 }
            
          ]
        }
      }
    }
  }
</script>