<template>
    <div>
        <!-- <template v-for="item in menus">
            
            <el-menu-item v-if="item.children==null" :key="item.id" :index="item.id" :route="item.path">
                <template>
                    <i :class="item.icon"></i>
                    <span slot="item.name">{{item.name}}</span>
                </template>
            </el-menu-item>
        </template> -->
    </div>
</template>
<script>
export default {
    props: {
        menus: Array
    }
}
</script>

