<template>
    <div>
    <el-button type="primary" icon="el-icon-menu" size="medium" @click="handleMenuClick" style="margin-bottom: 10px;"></el-button>
    <!-- <el-menu default-active="1" class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose" :collapse="isCollapse">
        <NavMenuItem :menus="menu"/>
    </el-menu> -->
    <el-menu default-active="1" class="el-menu-vertical-demo" @open="handleOpen" @close="handleClose" @select="handleMenuItemClick" :collapse="isCollapse">
        <el-menu-item index="home">   
            <i class="el-icon-s-home"></i>
            <span slot="title">主页</span>
        </el-menu-item>
        <el-submenu index="2">
            <template slot="title">
                <i class="el-icon-s-marketing"></i>
                <span slot="title">实时监测</span>
            </template>
            <el-menu-item-group>
                 <el-menu-item index="wind" name="1" >风速</el-menu-item>
                 <el-menu-item index="temp">路面温度</el-menu-item>
                 <el-menu-item index="humidity">湿度</el-menu-item>
                 <el-menu-item index="traffic">交通荷载</el-menu-item>
                 <el-menu-item index="dynamic">动力响应</el-menu-item>
                 <el-menu-item index="stress">应力应变</el-menu-item>
                 <el-menu-item index="displacement">位移</el-menu-item>
                 <el-menu-item index="cable">索力</el-menu-item>
                 <el-menu-item index="GPS">GPS</el-menu-item>
            </el-menu-item-group>
        </el-submenu>
        <el-submenu index="12">
            <template slot="title">
                <i class="el-icon-s-data"></i>
                <span slot="title">数据管理</span>
            </template>
            <el-menu-item-group>
                 <el-menu-item index="processing">数据处理</el-menu-item>
                 <el-menu-item index="analysis">数据分析</el-menu-item>
            </el-menu-item-group>
        </el-submenu>
        <el-submenu index="15">
            <template slot="title">
                <i class="el-icon-s-tools"></i>
                <span slot="title">综合管理</span>
            </template>
            <el-menu-item-group>
                 <el-menu-item index="useradmin">用户管理</el-menu-item>
                 <el-menu-item index="sensoradmin">传感器管理</el-menu-item>
                 <el-menu-item index="siteadmin">站点管理</el-menu-item>
            </el-menu-item-group>
        </el-submenu>
        <el-menu-item index="cloud">   
            <i class="el-icon-cloudy"></i>
            <span slot="title">云管理</span>
        </el-menu-item>
    </el-menu>

    </div>
</template>

<script>
import mapState from 'vuex'
import NavMenuItem from './NaveMenuItem'
export default {
    data() {
        return {
            isCollapse: false
        };
    },
    components: {
        NavMenuItem
    },
    methods: {
        handleOpen(key, keyPath) {
            //console.log(key, keyPath);
        },
        handleClose(key, keyPath) {
            // console.log(key, keyPath);
        },
        handleMenuClick(){
            this.isCollapse = !this.isCollapse;
            console.log(this.isCollapse);
        },
        handleMenuItemClick(index,route)
        {
            //console.log(name,route);

            console.log("index : "+index);
            console.log("route : "+route);
            let option = route[0];
            console.log("option : "+option);
            switch(option)
            {
                case "home":
                    console.log("In case 1");
                    this.$router.push({ path: `/home` });
                    break;
                case "2":
                     //console.log("In case 2");
                     this.$router.push({ path: `/monitoring/${index}` });
                    break;
                case "12":
                     this.$router.push({ path: `/datamanagement/${index}`});
                    break;
                case "15":
                     this.$router.push({ path: `/admin/${index}` });
                default:
                    break;
            }
        }
    },
    

    
}
</script>


<style>
  .el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 250px;
    min-height: 400px;
  }
</style>
