<template>
    <el-container>
        <el-header>
            <el-row type="flex" class="row-bg" :gutter="10">
                <el-col :span="6">
                    <el-select v-model="svalue" filterable placeholder="请选择传感器">
                        <el-option
                        v-for="item in sensors"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                        </el-option>
                    </el-select>
                </el-col>
                <el-col :span="6">
                    <el-select v-model="cvalue" clearable placeholder="请选择">
                        <el-option
                        v-for="item in charts"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                        </el-option>
                    </el-select>
                </el-col>
                <el-col :span="6">
                    <el-date-picker
                        v-model="date"
                        type="daterange"
                        range-separator="至"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期">
                    </el-date-picker>
                </el-col>
                <el-col :span="6"><el-button type="primary" @click="loadChart">加载</el-button></el-col>
            </el-row>   
        </el-header>
        <el-main>
          <component :is="charttype"></component>
        </el-main>
    </el-container>
</template>

<script>
import LineChart from './SingleLineChart'
import RoseChart from '../Monitoring/RoseChart'
import SingleSpectrum from './SingleSpectrumChart'
export default {
    data(){
        return{
            date:'',
            sensors: [{
                        value: '1',
                        label: 'FS001'
                        }, {
                        value: '2',
                        label: 'FS002'
                        }, {
                        value: '3',
                        label: 'FS003'
                        }, {
                        value: '4',
                        label: 'FS004'
                        }, {
                        value: '5',
                        label: 'FS005'
                        }
                        ],
            svalue: '',

            charts:[    
                        {value: '1', label:'频谱'},
                        {value: '2', label:'趋势'},
                        {value: '3', label:'玫瑰图'},],
            cvalue:'',
            charttype: ''
      }
    },
    components:
    {
        LineChart,
        RoseChart,
        SingleSpectrum
    },
    methods:
    {
        loadChart()
        {
            let sid = this.$data.svalue;
            let cid = this.$data.cvalue;
            if(cid=='1')
            {
                this.$data.charttype='SingleSpectrum';
            }
            else if(cid=='2')
            {
                this.$data.charttype='LineChart';
            }
            else if(cid=='3')
            {
                this.$data.charttype='RoseChart';
            }

            
        }
    }
}
</script>

