<template>
    <div>
        <div v-if="$route.params.itemname=='processing'">
            <Processing />
        </div>
        <div v-if="$route.params.itemname=='analysis'">
            <Analysis />
        </div>
    </div>
</template>
<script>
import Processing from  './Processing'
import Analysis from './Analysis'
export default {

    components:{
        Processing,
        Analysis

    }
}
</script>
