<template>
    <el-container>
        <el-header>
            <el-row type="flex" class="row-bg">
                <el-col>
                    <el-date-picker
                        v-model="date"
                        type="daterange"
                        range-separator="至"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期">
                    </el-date-picker>
                </el-col>
                <el-col>
                    <el-button type="primary" @click="loadChart">重载</el-button>
                </el-col>
            </el-row>
        </el-header>
        <el-main>
          <component :is="charttype"></component>
        </el-main>
    </el-container>
</template>
<script>
import LineChart from './SingleLineChart'
export default {
    data(){
        return{
            date:'',
            charttype:''
        }
    },
    components:
    {
        LineChart
    },
    methods: {
        loadChart()
        {
            let sid = this.$data.svalue;
            this.$data.charttype='LineChart';
        }
    }
}
</script>
