<template>
     <ve-line :data="chartData" :toolbox="toolbox"></ve-line>
</template>
<script>
export default {
    data () {
        this.toolbox = {
                        feature: {
                                saveAsImage: {}
                        }
                      }
      return {
        chartData: {
          columns: ['Time','value'],
          rows: [   {'Time': 1, 'value': 8.92E-13},
                    {'Time': 2, 'value': 0.042129543},
                    {'Time': 3, 'value': 0.084266273},
                    {'Time': 4, 'value': 0.126417384},
                    {'Time': 5, 'value': 0.168590077},
                    {'Time': 6, 'value': 0.210791565},
                    {'Time': 7, 'value': 0.25302908},
                    {'Time': 8, 'value': 0.295309876},
                    {'Time': 9, 'value': 0.337641232},
                    {'Time': 10, 'value': 0.380030457},
                    {'Time': 11, 'value': 0.422484898},
                    {'Time': 12, 'value': 0.465011939},
                    {'Time': 13, 'value': 0.50761901},
                    {'Time': 14, 'value': 0.550313588},
                    {'Time': 15, 'value': 0.593103205},
                    {'Time': 16, 'value': 0.635995452},
                    {'Time': 17, 'value': 0.678997982},
                    {'Time': 18, 'value': 0.722118516},
                    {'Time': 19, 'value': 0.76536485},
                    {'Time': 20, 'value': 0.808744856},
                    {'Time': 21, 'value': 0.852266493},
                    {'Time': 22, 'value': 0.895937805},
                    {'Time': 23, 'value': 0.939766932},
                    {'Time': 24, 'value': 0.983762117},
                    {'Time': 25, 'value': 1.027931703},
                    {'Time': 26, 'value': 1.07228415},
                    {'Time': 27, 'value': 1.116828033},
                    {'Time': 28, 'value': 1.161572052},
                    {'Time': 29, 'value': 1.206525035},
                    {'Time': 30, 'value': 1.251695951},
                    {'Time': 31, 'value': 1.297093909},
                    {'Time': 32, 'value': 1.342728171},
                    {'Time': 33, 'value': 1.388608154},
                    {'Time': 34, 'value': 1.434743444},
                    {'Time': 35, 'value': 1.481143797},
                    {'Time': 36, 'value': 1.527819152},
                    {'Time': 37, 'value': 1.574779634},
                    {'Time': 38, 'value': 1.62203557},
                    {'Time': 39, 'value': 1.669597489},
                    {'Time': 40, 'value': 1.717476137},
                    {'Time': 41, 'value': 1.765682488},
                    {'Time': 42, 'value': 1.814227746},
                    {'Time': 43, 'value': 1.863123363},
                    {'Time': 44, 'value': 1.912381045},
                    {'Time': 45, 'value': 1.962012767},
                    {'Time': 46, 'value': 2.012030779},
                    {'Time': 47, 'value': 2.062447624},
                    {'Time': 48, 'value': 2.113276145},
                    {'Time': 49, 'value': 2.164529502},
                    {'Time': 50, 'value': 2.216221183},
                    {'Time': 51, 'value': 2.268365019},
                    {'Time': 52, 'value': 2.3209752},
                    {'Time': 53, 'value': 2.374066288},
                    {'Time': 54, 'value': 2.427653234},
                    {'Time': 55, 'value': 2.481751396},
                    {'Time': 56, 'value': 2.536376554},
                    {'Time': 57, 'value': 2.59154493},
                    {'Time': 58, 'value': 2.647273209},
                    {'Time': 59, 'value': 2.703578553},
                    {'Time': 60, 'value': 2.760478631},
                    {'Time': 61, 'value': 2.817991632},
                    {'Time': 62, 'value': 2.876136296},
                    {'Time': 63, 'value': 2.934931932},
                    {'Time': 64, 'value': 2.994398448},
                    {'Time': 65, 'value': 3.054556376},
                    {'Time': 66, 'value': 3.115426899},
                    {'Time': 67, 'value': 3.177031884},
                    {'Time': 68, 'value': 3.239393909},
                    {'Time': 69, 'value': 3.3025363},
                    {'Time': 70, 'value': 3.366483163},
                    {'Time': 71, 'value': 3.431259421},
                    {'Time': 72, 'value': 3.496890852},
                    {'Time': 73, 'value': 3.563404131},
                    {'Time': 74, 'value': 3.630826871},
                    {'Time': 75, 'value': 3.699187669},
                    {'Time': 76, 'value': 3.768516154},
                    {'Time': 77, 'value': 3.838843037},
                    {'Time': 78, 'value': 3.910200165},
                    {'Time': 79, 'value': 3.982620576},
                    {'Time': 80, 'value': 4.05613856},
                    {'Time': 81, 'value': 4.130789722},
                    {'Time': 82, 'value': 4.206611049},
                    {'Time': 83, 'value': 4.283640983},
                    {'Time': 84, 'value': 4.361919492},
                    {'Time': 85, 'value': 4.441488157},
                    {'Time': 86, 'value': 4.522390251},
                    {'Time': 87, 'value': 4.604670833},
                    {'Time': 88, 'value': 4.688376846},
                    {'Time': 89, 'value': 4.773557214},
                    {'Time': 90, 'value': 4.860262961},
                    {'Time': 91, 'value': 4.948547318},
                    {'Time': 92, 'value': 5.038465855},
                    {'Time': 93, 'value': 5.13007661},
                    {'Time': 94, 'value': 5.223440232},
                    {'Time': 95, 'value': 5.318620138},
                    {'Time': 96, 'value': 5.415682669},
                    {'Time': 97, 'value': 5.514697268},
                    {'Time': 98, 'value': 5.615736668},
                    {'Time': 99, 'value': 5.718877091},
                    {'Time': 100, 'value': 5.824198465},
                    {'Time': 101, 'value': 5.931784656},
                    {'Time': 102, 'value': 6.041723715},
                    {'Time': 103, 'value': 6.154108149},
                    {'Time': 104, 'value': 6.269035209},
                    {'Time': 105, 'value': 6.386607204},
                    {'Time': 106, 'value': 6.506931836},
                    {'Time': 107, 'value': 6.630122565},
                    {'Time': 108, 'value': 6.756299002},
                    {'Time': 109, 'value': 6.88558734},
                    {'Time': 110, 'value': 7.018120811},
                    {'Time': 111, 'value': 7.154040195},
                    {'Time': 112, 'value': 7.293494361},
                    {'Time': 113, 'value': 7.436640863},
                    {'Time': 114, 'value': 7.583646588},
                    {'Time': 115, 'value': 7.734688461},
                    {'Time': 116, 'value': 7.889954219},
                    {'Time': 117, 'value': 8.049643247},
                    {'Time': 118, 'value': 8.213967512},
                    {'Time': 119, 'value': 8.383152564},
                    {'Time': 120, 'value': 8.557438658},
                    {'Time': 121, 'value': 8.73708197},
                    {'Time': 122, 'value': 8.922355945},
                    {'Time': 123, 'value': 9.113552787},
                    {'Time': 124, 'value': 9.310985095},
                    {'Time': 125, 'value': 9.514987683},
                    {'Time': 126, 'value': 9.725919597},
                    {'Time': 127, 'value': 9.94416635},
                    {'Time': 128, 'value': 10.17014241},
                    {'Time': 129, 'value': 10.404294},
                    {'Time': 130, 'value': 10.64710217},
                    {'Time': 131, 'value': 10.89908627},
                    {'Time': 132, 'value': 11.16080791},
                    {'Time': 133, 'value': 11.43287527},
                    {'Time': 134, 'value': 11.71594808},
                    {'Time': 135, 'value': 12.01074322},
                    {'Time': 136, 'value': 12.31804103},
                    {'Time': 137, 'value': 12.63869248},
                    {'Time': 138, 'value': 12.97362742},
                    {'Time': 139, 'value': 13.3238639},
                    {'Time': 140, 'value': 13.69051888},
                    {'Time': 141, 'value': 14.0748206},
                    {'Time': 142, 'value': 14.47812273},
                    {'Time': 143, 'value': 14.90192091},
                    {'Time': 144, 'value': 15.34787179},
                    {'Time': 145, 'value': 15.81781534},
                    {'Time': 146, 'value': 16.31380096},
                    {'Time': 147, 'value': 16.83811814},
                    {'Time': 148, 'value': 17.39333271},
                    {'Time': 149, 'value': 17.9823298},
                    {'Time': 150, 'value': 18.60836522},
                    {'Time': 151, 'value': 19.27512687},
                    {'Time': 152, 'value': 19.98680898},
                    {'Time': 153, 'value': 20.7482021},
                    {'Time': 154, 'value': 21.56480298},
                    {'Time': 155, 'value': 22.44294972},
                    {'Time': 156, 'value': 23.38998919},
                    {'Time': 157, 'value': 24.41448606},
                    {'Time': 158, 'value': 25.52648605},
                    {'Time': 159, 'value': 26.73785062},
                    {'Time': 160, 'value': 28.06268659},
                    {'Time': 161, 'value': 29.51790394},
                    {'Time': 162, 'value': 31.12394851},
                    {'Time': 163, 'value': 32.9057772},
                    {'Time': 164, 'value': 34.89417479},
                    {'Time': 165, 'value': 37.12756063},
                    {'Time': 166, 'value': 39.65451184},
                    {'Time': 167, 'value': 42.53735803},
                    {'Time': 168, 'value': 45.85741892},
                    {'Time': 169, 'value': 49.72283293},
                    {'Time': 170, 'value': 54.28060652},
                    {'Time': 171, 'value': 59.7358014},
                    {'Time': 172, 'value': 66.38333281},
                    {'Time': 173, 'value': 74.66323907},
                    {'Time': 174, 'value': 85.26247003},
                    {'Time': 175, 'value': 99.316327},
                    {'Time': 176, 'value': 118.8455664},
                    {'Time': 177, 'value': 147.8287261},
                    {'Time': 178, 'value': 195.3309084},
                    {'Time': 179, 'value': 287.4515699},
                    {'Time': 180, 'value': 542.7870331},
                    {'Time': 181, 'value': 4766.96148},
                    {'Time': 182, 'value': 704.6822168},
                    {'Time': 183, 'value': 328.4660847},
                    {'Time': 184, 'value': 214.2899276},
                    {'Time': 185, 'value': 159.0920815},
                    {'Time': 186, 'value': 126.5508773},
                    {'Time': 187, 'value': 105.0897219},
                    {'Time': 188, 'value': 89.87108442},
                    {'Time': 189, 'value': 78.51573565},
                    {'Time': 190, 'value': 69.71721716},
                    {'Time': 191, 'value': 62.69846472},
                    {'Time': 192, 'value': 56.96832665},
                    {'Time': 193, 'value': 52.20114239},
                    {'Time': 194, 'value': 48.17245586},
                    {'Time': 195, 'value': 44.72253568},
                    {'Time': 196, 'value': 41.73461366},
                    {'Time': 197, 'value': 39.1213499},
                    {'Time': 198, 'value': 36.81611144},
                    {'Time': 199, 'value': 34.76717889},
                    {'Time': 200, 'value': 32.93379506},
                    {'Time': 201, 'value': 31.28340663},
                    {'Time': 202, 'value': 29.78969884},
                    {'Time': 203, 'value': 28.43116926},
                    {'Time': 204, 'value': 27.19007575},
                    {'Time': 205, 'value': 26.05164882},
                    {'Time': 206, 'value': 25.00349405},
                    {'Time': 207, 'value': 24.03513305},
                    {'Time': 208, 'value': 23.13764693},
                    {'Time': 209, 'value': 22.30339654},
                    {'Time': 210, 'value': 21.52580082},
                    {'Time': 211, 'value': 20.79915971},
                    {'Time': 212, 'value': 20.11851142},
                    {'Time': 213, 'value': 19.47951663},
                    {'Time': 214, 'value': 18.87836382},
                    {'Time': 215, 'value': 18.31169128},
                    {'Time': 216, 'value': 17.77652269},
                    {'Time': 217, 'value': 17.27021336},
                    {'Time': 218, 'value': 16.79040522},
                    {'Time': 219, 'value': 16.33498904},
                    {'Time': 220, 'value': 15.90207237},
                    {'Time': 221, 'value': 15.48995235},
                    {'Time': 222, 'value': 15.09709253},
                    {'Time': 223, 'value': 14.72210298},
                    {'Time': 224, 'value': 14.36372319},
                    {'Time': 225, 'value': 14.02080733},
                    {'Time': 226, 'value': 13.69231145},
                    {'Time': 227, 'value': 13.37728238},
                    {'Time': 228, 'value': 13.07484801},
                    {'Time': 229, 'value': 12.78420886},
                    {'Time': 230, 'value': 12.50463062},
                    {'Time': 231, 'value': 12.2354376},
                    {'Time': 232, 'value': 11.97600697},
                    {'Time': 233, 'value': 11.72576368},
                    {'Time': 234, 'value': 11.48417588},
                    {'Time': 235, 'value': 11.25075095},
                    {'Time': 236, 'value': 11.02503191},
                    {'Time': 237, 'value': 10.80659421},
                    {'Time': 238, 'value': 10.59504286},
                    {'Time': 239, 'value': 10.3900099},
                    {'Time': 240, 'value': 10.19115207},
                    {'Time': 241, 'value': 9.99814876},
                    {'Time': 242, 'value': 9.810700106},
                    {'Time': 243, 'value': 9.628525342},
                    {'Time': 244, 'value': 9.45136125},
                    {'Time': 245, 'value': 9.278960783},
                    {'Time': 246, 'value': 9.111091808},
                    {'Time': 247, 'value': 8.947535964},
                    {'Time': 248, 'value': 8.788087621},
                    {'Time': 249, 'value': 8.632552932},
                    {'Time': 250, 'value': 8.480748968},
                    {'Time': 251, 'value': 8.332502924},
                    {'Time': 252, 'value': 8.187651391},
                    {'Time': 253, 'value': 8.046039696},
                    {'Time': 254, 'value': 7.907521286},
                    {'Time': 255, 'value': 7.771957166},
                    {'Time': 256, 'value': 7.639215384},
                    {'Time': 257, 'value': 7.509170552},
                    {'Time': 258, 'value': 7.381703403},
                    {'Time': 259, 'value': 7.256700387},
                    {'Time': 260, 'value': 7.134053294},
                    {'Time': 261, 'value': 7.013658902},
                    {'Time': 262, 'value': 6.895418654},
                    {'Time': 263, 'value': 6.77923836},
                    {'Time': 264, 'value': 6.66502791},
                    {'Time': 265, 'value': 6.552701021},
                    {'Time': 266, 'value': 6.442174989},
                    {'Time': 267, 'value': 6.333370463},
                    {'Time': 268, 'value': 6.226211234},
                    {'Time': 269, 'value': 6.120624036},
                    {'Time': 270, 'value': 6.016538358},
                    {'Time': 271, 'value': 5.91388627},
                    {'Time': 272, 'value': 5.812602262},
                    {'Time': 273, 'value': 5.712623084},
                    {'Time': 274, 'value': 5.613887605},
                    {'Time': 275, 'value': 5.516336672},
                    {'Time': 276, 'value': 5.41991298},
                    {'Time': 277, 'value': 5.32456095},
                    {'Time': 278, 'value': 5.230226613},
                    {'Time': 279, 'value': 5.136857494},
                    {'Time': 280, 'value': 5.044402509},
                    {'Time': 281, 'value': 4.952811865},
                    {'Time': 282, 'value': 4.862036957},
                    {'Time': 283, 'value': 4.772030281},
                    {'Time': 284, 'value': 4.682745341},
                    {'Time': 285, 'value': 4.594136561},
                    {'Time': 286, 'value': 4.506159205},
                    {'Time': 287, 'value': 4.418769294},
                    {'Time': 288, 'value': 4.331923525},
                    {'Time': 289, 'value': 4.245579196},
                    {'Time': 290, 'value': 4.159694129},
                    {'Time': 291, 'value': 4.074226599},
                    {'Time': 292, 'value': 3.989135253},
                    {'Time': 293, 'value': 3.904379049},
                    {'Time': 294, 'value': 3.81991717},
                    {'Time': 295, 'value': 3.735708965},
                    {'Time': 296, 'value': 3.651713867},
                    {'Time': 297, 'value': 3.567891328},
                    {'Time': 298, 'value': 3.484200742},
                    {'Time': 299, 'value': 3.40060137},
                    {'Time': 300, 'value': 3.31705227},
                    {'Time': 301, 'value': 3.233512213},
                    {'Time': 302, 'value': 3.149939613},
                    {'Time': 303, 'value': 3.066292438},
                    {'Time': 304, 'value': 2.982528133},
                    {'Time': 305, 'value': 2.898603529},
                    {'Time': 306, 'value': 2.814474758},
                    {'Time': 307, 'value': 2.730097157},
                    {'Time': 308, 'value': 2.645425169},
                    {'Time': 309, 'value': 2.560412246},
                    {'Time': 310, 'value': 2.475010734},
                    {'Time': 311, 'value': 2.389171768},
                    {'Time': 312, 'value': 2.302845145},
                    {'Time': 313, 'value': 2.215979203},
                    {'Time': 314, 'value': 2.128520681},
                    {'Time': 315, 'value': 2.040414578},
                    {'Time': 316, 'value': 1.951604001},
                    {'Time': 317, 'value': 1.862029998},
                    {'Time': 318, 'value': 1.771631385},
                    {'Time': 319, 'value': 1.680344554},
                    {'Time': 320, 'value': 1.588103276},
                    {'Time': 321, 'value': 1.494838474},
                    {'Time': 322, 'value': 1.400477995},
                    {'Time': 323, 'value': 1.304946347},
                    {'Time': 324, 'value': 1.208164428},
                    {'Time': 325, 'value': 1.110049219},
                    {'Time': 326, 'value': 1.010513461},
                    {'Time': 327, 'value': 0.909465297},
                    {'Time': 328, 'value': 0.806807882},
                    {'Time': 329, 'value': 0.702438958},
                    {'Time': 330, 'value': 0.596250385},
                    {'Time': 331, 'value': 0.488127633},
                    {'Time': 332, 'value': 0.377949216},
                    {'Time': 333, 'value': 0.265586077},
                    {'Time': 334, 'value': 0.150900898},
                    {'Time': 335, 'value': 0.033747352},
                    {'Time': 336, 'value': 0.086030741},
                    {'Time': 337, 'value': 0.208600335},
                    {'Time': 338, 'value': 0.334140192},
                    {'Time': 339, 'value': 0.462842034},
                    {'Time': 340, 'value': 0.59491182},
                    {'Time': 341, 'value': 0.730571185},
                    {'Time': 342, 'value': 0.87005905},
                    {'Time': 343, 'value': 1.013633423},
                    {'Time': 344, 'value': 1.161573443},
                    {'Time': 345, 'value': 1.314181676},
                    {'Time': 346, 'value': 1.47178672},
                    {'Time': 347, 'value': 1.63474616},
                    {'Time': 348, 'value': 1.803449932},
                    {'Time': 349, 'value': 1.978324171},
                    {'Time': 350, 'value': 2.159835599},
                    {'Time': 351, 'value': 2.348496592},
                    {'Time': 352, 'value': 2.544870996},
                    {'Time': 353, 'value': 2.749580869},
                    {'Time': 354, 'value': 2.963314302},
                    {'Time': 355, 'value': 3.186834533},
                    {'Time': 356, 'value': 3.420990614},
                    {'Time': 357, 'value': 3.666729937},
                    {'Time': 358, 'value': 3.925113023},
                    {'Time': 359, 'value': 4.197331063},
                    {'Time': 360, 'value': 4.484726813},
                    {'Time': 361, 'value': 4.788819638},
                    {'Time': 362, 'value': 5.111335682},
                    {'Time': 363, 'value': 5.45424444},
                    {'Time': 364, 'value': 5.819803377},
                    {'Time': 365, 'value': 6.210612728},
                    {'Time': 366, 'value': 6.629683307},
                    {'Time': 367, 'value': 7.080521074},
                    {'Time': 368, 'value': 7.567233496},
                    {'Time': 369, 'value': 8.094664555},
                    {'Time': 370, 'value': 8.668567815},
                    {'Time': 371, 'value': 9.295830708},
                    {'Time': 372, 'value': 9.984768612},
                    {'Time': 373, 'value': 10.74551546},
                    {'Time': 374, 'value': 11.59054999},
                    {'Time': 375, 'value': 12.53541597},
                    {'Time': 376, 'value': 13.59972521},
                    {'Time': 377, 'value': 14.80858209},
                    {'Time': 378, 'value': 16.19465176},
                    {'Time': 379, 'value': 17.80123896},
                    {'Time': 380, 'value': 19.68700458},
                    {'Time': 381, 'value': 21.93343561},
                    {'Time': 382, 'value': 24.65714525},
                    {'Time': 383, 'value': 28.03108758},
                    {'Time': 384, 'value': 32.32325974},
                    {'Time': 385, 'value': 37.97238794},
                    {'Time': 386, 'value': 45.74964045},
                    {'Time': 387, 'value': 57.14710596},
                    {'Time': 388, 'value': 75.47716983},
                    {'Time': 389, 'value': 109.8665463},
                    {'Time': 390, 'value': 197.9903372},
                    {'Time': 391, 'value': 918.1129801},
                    {'Time': 392, 'value': 358.6049182},
                    {'Time': 393, 'value': 151.7895976},
                    {'Time': 394, 'value': 96.95159873},
                    {'Time': 395, 'value': 71.56899704},
                    {'Time': 396, 'value': 56.92496418},
                    {'Time': 397, 'value': 47.38854666},
                    {'Time': 398, 'value': 40.67993277},
                    {'Time': 399, 'value': 35.70036953},
                    {'Time': 400, 'value': 31.85504558},
                    {'Time': 401, 'value': 28.7938947},
                    {'Time': 402, 'value': 26.29745536},
                    {'Time': 403, 'value': 24.2211578},
                    {'Time': 404, 'value': 22.46588831},
                    {'Time': 405, 'value': 20.96142502},
                    {'Time': 406, 'value': 19.65662493},
                    {'Time': 407, 'value': 18.51335602},
                    {'Time': 408, 'value': 17.50260665},
                    {'Time': 409, 'value': 16.60191227},
                    {'Time': 410, 'value': 15.79360679},
                    {'Time': 411, 'value': 15.06360604},
                    {'Time': 412, 'value': 14.40054339},
                    {'Time': 413, 'value': 13.79514421},
                    {'Time': 414, 'value': 13.23976545},
                    {'Time': 415, 'value': 12.72805177},
                    {'Time': 416, 'value': 12.25467502},
                    {'Time': 417, 'value': 11.81513457},
                    {'Time': 418, 'value': 11.40560242},
                    {'Time': 419, 'value': 11.02280189},
                    {'Time': 420, 'value': 10.6639116},
                    {'Time': 421, 'value': 10.32648887},
                    {'Time': 422, 'value': 10.00840803},
                    {'Time': 423, 'value': 9.70781048},
                    {'Time': 424, 'value': 9.423063809},
                    {'Time': 425, 'value': 9.152728267},
                    {'Time': 426, 'value': 8.895528983},
                    {'Time': 427, 'value': 8.65033287},
                    {'Time': 428, 'value': 8.416129295},
                    {'Time': 429, 'value': 8.192013824},
                    {'Time': 430, 'value': 7.977174482},
                    {'Time': 431, 'value': 7.770880097},
                    {'Time': 432, 'value': 7.572470348},
                    {'Time': 433, 'value': 7.381347252},
                    {'Time': 434, 'value': 7.196967842},
                    {'Time': 435, 'value': 7.018837853},
                    {'Time': 436, 'value': 6.846506244},
                    {'Time': 437, 'value': 6.679560451},
                    {'Time': 438, 'value': 6.517622242},
                    {'Time': 439, 'value': 6.360344087},
                    {'Time': 440, 'value': 6.207405986},
                    {'Time': 441, 'value': 6.058512667},
                    {'Time': 442, 'value': 5.913391122},
                    {'Time': 443, 'value': 5.771788426},
                    {'Time': 444, 'value': 5.633469798},
                    {'Time': 445, 'value': 5.498216885},
                    {'Time': 446, 'value': 5.36582623},
                    {'Time': 447, 'value': 5.236107899},
                    {'Time': 448, 'value': 5.10888426},
                    {'Time': 449, 'value': 4.983988882},
                    {'Time': 450, 'value': 4.861265546},
                    {'Time': 451, 'value': 4.740567355},
                    {'Time': 452, 'value': 4.621755933},
                    {'Time': 453, 'value': 4.504700693},
                    {'Time': 454, 'value': 4.38927818},
                    {'Time': 455, 'value': 4.275371474},
                    {'Time': 456, 'value': 4.162869643},
                    {'Time': 457, 'value': 4.051667244},
                    {'Time': 458, 'value': 3.941663876},
                    {'Time': 459, 'value': 3.832763758},
                    {'Time': 460, 'value': 3.72487535},
                    {'Time': 461, 'value': 3.617911005},
                    {'Time': 462, 'value': 3.511786642},
                    {'Time': 463, 'value': 3.406421454},
                    {'Time': 464, 'value': 3.301737627},
                    {'Time': 465, 'value': 3.19766009},
                    {'Time': 466, 'value': 3.094116275},
                    {'Time': 467, 'value': 2.991035898},
                    {'Time': 468, 'value': 2.888350752},
                    {'Time': 469, 'value': 2.785994518},
                    {'Time': 470, 'value': 2.68390258},
                    {'Time': 471, 'value': 2.582011858},
                    {'Time': 472, 'value': 2.480260647},
                    {'Time': 473, 'value': 2.378588467},
                    {'Time': 474, 'value': 2.27693592},
                    {'Time': 475, 'value': 2.175244551},
                    {'Time': 476, 'value': 2.073456719},
                    {'Time': 477, 'value': 1.971515474},
                    {'Time': 478, 'value': 1.869364435},
                    {'Time': 479, 'value': 1.766947676},
                    {'Time': 480, 'value': 1.664209612},
                    {'Time': 481, 'value': 1.561094896},
                    {'Time': 482, 'value': 1.457548303},
                    {'Time': 483, 'value': 1.353514639},
                    {'Time': 484, 'value': 1.248938627},
                    {'Time': 485, 'value': 1.143764816},
                    {'Time': 486, 'value': 1.037937476},
                    {'Time': 487, 'value': 0.9314005},
                    {'Time': 488, 'value': 0.824097306},
                    {'Time': 489, 'value': 0.715970739},
                    {'Time': 490, 'value': 0.606962969},
                    {'Time': 491, 'value': 0.49701539},
                    {'Time': 492, 'value': 0.386068521},
                    {'Time': 493, 'value': 0.274061902},
                    {'Time': 494, 'value': 0.160933983},
                    {'Time': 495, 'value': 0.046622024},
                    {'Time': 496, 'value': 0.068938022},
                    {'Time': 497, 'value': 0.185811624},
                    {'Time': 498, 'value': 0.304065784},
                    {'Time': 499, 'value': 0.42376917},
                    {'Time': 500, 'value': 0.544992233},
                    {'Time': 501, 'value': 0.667807345},
                    {'Time': 502, 'value': 0.792288936},
                    {'Time': 503, 'value': 0.918513635},
                    {'Time': 504, 'value': 1.046560424},
                    {'Time': 505, 'value': 1.176510795},
                    {'Time': 506, 'value': 1.308448917},
                    {'Time': 507, 'value': 1.442461808},
                    {'Time': 508, 'value': 1.578639523},
                    {'Time': 509, 'value': 1.717075348},
                    {'Time': 510, 'value': 1.857866006},
                    {'Time': 511, 'value': 2.001111872},
                    {'Time': 512, 'value': 2.146917213},
                    {'Time': 513, 'value': 2.295390424},
                    {'Time': 514, 'value': 2.446644299},
                    {'Time': 515, 'value': 2.600796302},
                    {'Time': 516, 'value': 2.757968868},
                    {'Time': 517, 'value': 2.918289722},
                    {'Time': 518, 'value': 3.081892213},
                    {'Time': 519, 'value': 3.24891568},
                    {'Time': 520, 'value': 3.419505839},
                    {'Time': 521, 'value': 3.5938152},
                    {'Time': 522, 'value': 3.772003515},
                    {'Time': 523, 'value': 3.954238254},
                    {'Time': 524, 'value': 4.140695128},
                    {'Time': 525, 'value': 4.331558641},
                    {'Time': 526, 'value': 4.527022692},
                    {'Time': 527, 'value': 4.727291221},
                    {'Time': 528, 'value': 4.932578912},
                    {'Time': 529, 'value': 5.143111948},
                    {'Time': 530, 'value': 5.359128831},
                    {'Time': 531, 'value': 5.580881274},
                    {'Time': 532, 'value': 5.808635164},
                    {'Time': 533, 'value': 6.042671614},
                    {'Time': 534, 'value': 6.283288107},
                    {'Time': 535, 'value': 6.530799739},
                    {'Time': 536, 'value': 6.785540578},
                    {'Time': 537, 'value': 7.047865153},
                    {'Time': 538, 'value': 7.318150078},
                    {'Time': 539, 'value': 7.596795832},
                    {'Time': 540, 'value': 7.884228714},
                    {'Time': 541, 'value': 8.180902996},
                    {'Time': 542, 'value': 8.487303281},
                    {'Time': 543, 'value': 8.803947117},
                    {'Time': 544, 'value': 9.131387873},
                    {'Time': 545, 'value': 9.470217927},
                    {'Time': 546, 'value': 9.821072192},
                    {'Time': 547, 'value': 10.18463204},
                    {'Time': 548, 'value': 10.56162966},
                    {'Time': 549, 'value': 10.95285291},
                    {'Time': 550, 'value': 11.35915075},
                    {'Time': 551, 'value': 11.78143929},
                    {'Time': 552, 'value': 12.22070862},
                    {'Time': 553, 'value': 12.67803046},
                    {'Time': 554, 'value': 13.15456673},
                    {'Time': 555, 'value': 13.65157933},
                    {'Time': 556, 'value': 14.17044114},
                    {'Time': 557, 'value': 14.71264849},
                    {'Time': 558, 'value': 15.27983543},
                    {'Time': 559, 'value': 15.87378992},
                    {'Time': 560, 'value': 16.49647246},
                    {'Time': 561, 'value': 17.15003742},
                    {'Time': 562, 'value': 17.83685764},
                    {'Time': 563, 'value': 18.55955287},
                    {'Time': 564, 'value': 19.32102273},
                    {'Time': 565, 'value': 20.12448521},
                    {'Time': 566, 'value': 20.97352152},
                    {'Time': 567, 'value': 21.87212894},
                    {'Time': 568, 'value': 22.82478298},
                    {'Time': 569, 'value': 23.83651121},
                    {'Time': 570, 'value': 24.91298102},
                    {'Time': 571, 'value': 26.06060485},
                    {'Time': 572, 'value': 27.28666669},
                    {'Time': 573, 'value': 28.59947549},
                    {'Time': 574, 'value': 30.00855189},
                    {'Time': 575, 'value': 31.52485761},
                    {'Time': 576, 'value': 33.16107869},
                    {'Time': 577, 'value': 34.93197851},
                    {'Time': 578, 'value': 36.85484112},
                    {'Time': 579, 'value': 38.95003317},
                    {'Time': 580, 'value': 41.24172318},
                    {'Time': 581, 'value': 43.75881214},
                    {'Time': 582, 'value': 46.53615131},
                    {'Time': 583, 'value': 49.61615674},
                    {'Time': 584, 'value': 53.05097941},
                    {'Time': 585, 'value': 56.90546805},
                    {'Time': 586, 'value': 61.26128404},
                    {'Time': 587, 'value': 66.22272756},
                    {'Time': 588, 'value': 71.92516666},
                    {'Time': 589, 'value': 78.54753567},
                    {'Time': 590, 'value': 86.33139487},
                    {'Time': 591, 'value': 95.61095586},
                    {'Time': 592, 'value': 106.8622133},
                    {'Time': 593, 'value': 120.7870502},
                    {'Time': 594, 'value': 138.4652727},
                    {'Time': 595, 'value': 161.6485354},
                    {'Time': 596, 'value': 193.3791148},
                    {'Time': 597, 'value': 239.4469625},
                    {'Time': 598, 'value': 312.3963735},
                    {'Time': 599, 'value': 445.4302327},
                    {'Time': 600, 'value': 764.6995803},
                    {'Time': 601, 'value': 2572.924185},
                    {'Time': 602, 'value': 1951.105903},
                    {'Time': 603, 'value': 716.1844087},
                    {'Time': 604, 'value': 441.889137},
                    {'Time': 605, 'value': 321.2251593},
                    {'Time': 606, 'value': 253.3654346},
                    {'Time': 607, 'value': 209.8755501},
                    {'Time': 608, 'value': 179.6298055},
                    {'Time': 609, 'value': 157.3804693},
                    {'Time': 610, 'value': 140.3288406},
                    {'Time': 611, 'value': 126.8458644},
                    {'Time': 612, 'value': 115.9189042},
                    {'Time': 613, 'value': 106.8853819},
                    {'Time': 614, 'value': 99.29354624},
                    {'Time': 615, 'value': 92.82479817},
                    {'Time': 616, 'value': 87.24800057},
                    {'Time': 617, 'value': 82.39139353},
                    {'Time': 618, 'value': 78.12467854},
                    {'Time': 619, 'value': 74.34722037},
                    {'Time': 620, 'value': 70.98006074},
                    {'Time': 621, 'value': 67.96038031},
                    {'Time': 622, 'value': 65.23757606},
                    {'Time': 623, 'value': 62.77042966},
                    {'Time': 624, 'value': 60.5250286},
                    {'Time': 625, 'value': 58.47321647},
                    {'Time': 626, 'value': 56.59142173},
                    {'Time': 627, 'value': 54.85976119},
                    {'Time': 628, 'value': 53.26134604},
                    {'Time': 629, 'value': 51.78173886},
                    {'Time': 630, 'value': 50.40852461},
                    {'Time': 631, 'value': 49.13096877},
                    {'Time': 632, 'value': 47.9397425},
                    {'Time': 633, 'value': 46.82670005},
                    {'Time': 634, 'value': 45.78469716},
                    {'Time': 635, 'value': 44.807442},
                    {'Time': 636, 'value': 43.88937186},
                    {'Time': 637, 'value': 43.0255507},
                    {'Time': 638, 'value': 42.21158357},
                    {'Time': 639, 'value': 41.44354456},
                    {'Time': 640, 'value': 40.7179161},
                    {'Time': 641, 'value': 40.03153734},
                    {'Time': 642, 'value': 39.38156029},
                    {'Time': 643, 'value': 38.76541219},
                    {'Time': 644, 'value': 38.18076324},
                    {'Time': 645, 'value': 37.62549872},
                    {'Time': 646, 'value': 37.09769498},
                    {'Time': 647, 'value': 36.59559844},
                    {'Time': 648, 'value': 36.1176074},
                    {'Time': 649, 'value': 35.66225616},
                    {'Time': 650, 'value': 35.22820098},
                    {'Time': 651, 'value': 34.8142079},
                    {'Time': 652, 'value': 34.41914188},
                    {'Time': 653, 'value': 34.04195729},
                    {'Time': 654, 'value': 33.68168941},
                    {'Time': 655, 'value': 33.33744699},
                    {'Time': 656, 'value': 33.0084055},
                    {'Time': 657, 'value': 32.6938012},
                    {'Time': 658, 'value': 32.39292586},
                    {'Time': 659, 'value': 32.10512192},
                    {'Time': 660, 'value': 31.82977827},
                    {'Time': 661, 'value': 31.56632638},
                    {'Time': 662, 'value': 31.31423685},
                    {'Time': 663, 'value': 31.07301629},
                    {'Time': 664, 'value': 30.8422045},
                    {'Time': 665, 'value': 30.62137193},
                    {'Time': 666, 'value': 30.41011734},
                    {'Time': 667, 'value': 30.20806574},
                    {'Time': 668, 'value': 30.01486648},
                    {'Time': 669, 'value': 29.83019147},
                    {'Time': 670, 'value': 29.65373367},
                    {'Time': 671, 'value': 29.48520561},
                    {'Time': 672, 'value': 29.3243381},
                    {'Time': 673, 'value': 29.170879},
                    {'Time': 674, 'value': 29.02459215},
                    {'Time': 675, 'value': 28.88525637},
                    {'Time': 676, 'value': 28.75266451},
                    {'Time': 677, 'value': 28.62662264},
                    {'Time': 678, 'value': 28.50694926},
                    {'Time': 679, 'value': 28.3934746},
                    {'Time': 680, 'value': 28.28603998},
                    {'Time': 681, 'value': 28.18449718},
                    {'Time': 682, 'value': 28.08870794},
                    {'Time': 683, 'value': 27.99854343},
                    {'Time': 684, 'value': 27.91388379},
                    {'Time': 685, 'value': 27.83461775},
                    {'Time': 686, 'value': 27.76064217},
                    {'Time': 687, 'value': 27.69186177},
                    {'Time': 688, 'value': 27.62818876},
                    {'Time': 689, 'value': 27.56954257},
                    {'Time': 690, 'value': 27.51584957},
                    {'Time': 691, 'value': 27.46704285},
                    {'Time': 692, 'value': 27.423062},
                    {'Time': 693, 'value': 27.38385291},
                    {'Time': 694, 'value': 27.3493676},
                    {'Time': 695, 'value': 27.31956408},
                    {'Time': 696, 'value': 27.29440623},
                    {'Time': 697, 'value': 27.27386364},
                    {'Time': 698, 'value': 27.25791159},
                    {'Time': 699, 'value': 27.24653091},
                    {'Time': 700, 'value': 27.23970795},
                    {'Time': 701, 'value': 27.23743453},
                    {'Time': 702, 'value': 27.23970795},
                    {'Time': 703, 'value': 27.24653091},
                    {'Time': 704, 'value': 27.25791159},
                    {'Time': 705, 'value': 27.27386364},
                    {'Time': 706, 'value': 27.29440623},
                    {'Time': 707, 'value': 27.31956408},
                    {'Time': 708, 'value': 27.3493676},
                    {'Time': 709, 'value': 27.38385291},
                    {'Time': 710, 'value': 27.423062},
                    {'Time': 711, 'value': 27.46704285},
                    {'Time': 712, 'value': 27.51584957},
                    {'Time': 713, 'value': 27.56954257},
                    {'Time': 714, 'value': 27.62818876},
                    {'Time': 715, 'value': 27.69186177},
                    {'Time': 716, 'value': 27.76064217},
                    {'Time': 717, 'value': 27.83461775},
                    {'Time': 718, 'value': 27.91388379},
                    {'Time': 719, 'value': 27.99854343},
                    {'Time': 720, 'value': 28.08870794},
                    {'Time': 721, 'value': 28.18449718},
                    {'Time': 722, 'value': 28.28603998},
                    {'Time': 723, 'value': 28.3934746},
                    {'Time': 724, 'value': 28.50694926},
                    {'Time': 725, 'value': 28.62662264},
                    {'Time': 726, 'value': 28.75266451},
                    {'Time': 727, 'value': 28.88525637},
                    {'Time': 728, 'value': 29.02459215},
                    {'Time': 729, 'value': 29.170879},
                    {'Time': 730, 'value': 29.3243381},
                    {'Time': 731, 'value': 29.48520561},
                    {'Time': 732, 'value': 29.65373367},
                    {'Time': 733, 'value': 29.83019147},
                    {'Time': 734, 'value': 30.01486648},
                    {'Time': 735, 'value': 30.20806574},
                    {'Time': 736, 'value': 30.41011734},
                    {'Time': 737, 'value': 30.62137193},
                    {'Time': 738, 'value': 30.8422045},
                    {'Time': 739, 'value': 31.07301629},
                    {'Time': 740, 'value': 31.31423685},
                    {'Time': 741, 'value': 31.56632638},
                    {'Time': 742, 'value': 31.82977827},
                    {'Time': 743, 'value': 32.10512192},
                    {'Time': 744, 'value': 32.39292586},
                    {'Time': 745, 'value': 32.6938012},
                    {'Time': 746, 'value': 33.0084055},
                    {'Time': 747, 'value': 33.33744699},
                    {'Time': 748, 'value': 33.68168941},
                    {'Time': 749, 'value': 34.04195729},
                    {'Time': 750, 'value': 34.41914188},
                    {'Time': 751, 'value': 34.8142079},
                    {'Time': 752, 'value': 35.22820098},
                    {'Time': 753, 'value': 35.66225616},
                    {'Time': 754, 'value': 36.1176074},
                    {'Time': 755, 'value': 36.59559844},
                    {'Time': 756, 'value': 37.09769498},
                    {'Time': 757, 'value': 37.62549872},
                    {'Time': 758, 'value': 38.18076324},
                    {'Time': 759, 'value': 38.76541219},
                    {'Time': 760, 'value': 39.38156029},
                    {'Time': 761, 'value': 40.03153734},
                    {'Time': 762, 'value': 40.7179161},
                    {'Time': 763, 'value': 41.44354456},
                    {'Time': 764, 'value': 42.21158357},
                    {'Time': 765, 'value': 43.0255507},
                    {'Time': 766, 'value': 43.88937186},
                    {'Time': 767, 'value': 44.807442},
                    {'Time': 768, 'value': 45.78469716},
                    {'Time': 769, 'value': 46.82670005},
                    {'Time': 770, 'value': 47.9397425},
                    {'Time': 771, 'value': 49.13096877},
                    {'Time': 772, 'value': 50.40852461},
                    {'Time': 773, 'value': 51.78173886},
                    {'Time': 774, 'value': 53.26134604},
                    {'Time': 775, 'value': 54.85976119},
                    {'Time': 776, 'value': 56.59142173},
                    {'Time': 777, 'value': 58.47321647},
                    {'Time': 778, 'value': 60.5250286},
                    {'Time': 779, 'value': 62.77042966},
                    {'Time': 780, 'value': 65.23757606},
                    {'Time': 781, 'value': 67.96038031},
                    {'Time': 782, 'value': 70.98006074},
                    {'Time': 783, 'value': 74.34722037},
                    {'Time': 784, 'value': 78.12467854},
                    {'Time': 785, 'value': 82.39139353},
                    {'Time': 786, 'value': 87.24800057},
                    {'Time': 787, 'value': 92.82479817},
                    {'Time': 788, 'value': 99.29354624},
                    {'Time': 789, 'value': 106.8853819},
                    {'Time': 790, 'value': 115.9189042},
                    {'Time': 791, 'value': 126.8458644},
                    {'Time': 792, 'value': 140.3288406},
                    {'Time': 793, 'value': 157.3804693},
                    {'Time': 794, 'value': 179.6298055},
                    {'Time': 795, 'value': 209.8755501},
                    {'Time': 796, 'value': 253.3654346},
                    {'Time': 797, 'value': 321.2251593},
                    {'Time': 798, 'value': 441.889137},
                    {'Time': 799, 'value': 716.1844087},
                    {'Time': 800, 'value': 1951.105903},
                    {'Time': 801, 'value': 2572.924185},
                    {'Time': 802, 'value': 764.6995803},
                    {'Time': 803, 'value': 445.4302327},
                    {'Time': 804, 'value': 312.3963735},
                    {'Time': 805, 'value': 239.4469625},
                    {'Time': 806, 'value': 193.3791148},
                    {'Time': 807, 'value': 161.6485354},
                    {'Time': 808, 'value': 138.4652727},
                    {'Time': 809, 'value': 120.7870502},
                    {'Time': 810, 'value': 106.8622133},
                    {'Time': 811, 'value': 95.61095586},
                    {'Time': 812, 'value': 86.33139487},
                    {'Time': 813, 'value': 78.54753567},
                    {'Time': 814, 'value': 71.92516666},
                    {'Time': 815, 'value': 66.22272756},
                    {'Time': 816, 'value': 61.26128404},
                    {'Time': 817, 'value': 56.90546805},
                    {'Time': 818, 'value': 53.05097941},
                    {'Time': 819, 'value': 49.61615674},
                    {'Time': 820, 'value': 46.53615131},
                    {'Time': 821, 'value': 43.75881214},
                    {'Time': 822, 'value': 41.24172318},
                    {'Time': 823, 'value': 38.95003317},
                    {'Time': 824, 'value': 36.85484112},
                    {'Time': 825, 'value': 34.93197851},
                    {'Time': 826, 'value': 33.16107869},
                    {'Time': 827, 'value': 31.52485761},
                    {'Time': 828, 'value': 30.00855189},
                    {'Time': 829, 'value': 28.59947549},
                    {'Time': 830, 'value': 27.28666669},
                    {'Time': 831, 'value': 26.06060485},
                    {'Time': 832, 'value': 24.91298102},
                    {'Time': 833, 'value': 23.83651121},
                    {'Time': 834, 'value': 22.82478298},
                    {'Time': 835, 'value': 21.87212894},
                    {'Time': 836, 'value': 20.97352152},
                    {'Time': 837, 'value': 20.12448521},
                    {'Time': 838, 'value': 19.32102273},
                    {'Time': 839, 'value': 18.55955287},
                    {'Time': 840, 'value': 17.83685764},
                    {'Time': 841, 'value': 17.15003742},
                    {'Time': 842, 'value': 16.49647246},
                    {'Time': 843, 'value': 15.87378992},
                    {'Time': 844, 'value': 15.27983543},
                    {'Time': 845, 'value': 14.71264849},
                    {'Time': 846, 'value': 14.17044114},
                    {'Time': 847, 'value': 13.65157933},
                    {'Time': 848, 'value': 13.15456673},
                    {'Time': 849, 'value': 12.67803046},
                    {'Time': 850, 'value': 12.22070862},
                    {'Time': 851, 'value': 11.78143929},
                    {'Time': 852, 'value': 11.35915075},
                    {'Time': 853, 'value': 10.95285291},
                    {'Time': 854, 'value': 10.56162966},
                    {'Time': 855, 'value': 10.18463204},
                    {'Time': 856, 'value': 9.821072192},
                    {'Time': 857, 'value': 9.470217927},
                    {'Time': 858, 'value': 9.131387873},
                    {'Time': 859, 'value': 8.803947117},
                    {'Time': 860, 'value': 8.487303281},
                    {'Time': 861, 'value': 8.180902996},
                    {'Time': 862, 'value': 7.884228714},
                    {'Time': 863, 'value': 7.596795832},
                    {'Time': 864, 'value': 7.318150078},
                    {'Time': 865, 'value': 7.047865153},
                    {'Time': 866, 'value': 6.785540578},
                    {'Time': 867, 'value': 6.530799739},
                    {'Time': 868, 'value': 6.283288107},
                    {'Time': 869, 'value': 6.042671614},
                    {'Time': 870, 'value': 5.808635164},
                    {'Time': 871, 'value': 5.580881274},
                    {'Time': 872, 'value': 5.359128831},
                    {'Time': 873, 'value': 5.143111948},
                    {'Time': 874, 'value': 4.932578912},
                    {'Time': 875, 'value': 4.727291221},
                    {'Time': 876, 'value': 4.527022692},
                    {'Time': 877, 'value': 4.331558641},
                    {'Time': 878, 'value': 4.140695128},
                    {'Time': 879, 'value': 3.954238254},
                    {'Time': 880, 'value': 3.772003515},
                    {'Time': 881, 'value': 3.5938152},
                    {'Time': 882, 'value': 3.419505839},
                    {'Time': 883, 'value': 3.24891568},
                    {'Time': 884, 'value': 3.081892213},
                    {'Time': 885, 'value': 2.918289722},
                    {'Time': 886, 'value': 2.757968868},
                    {'Time': 887, 'value': 2.600796302},
                    {'Time': 888, 'value': 2.446644299},
                    {'Time': 889, 'value': 2.295390424},
                    {'Time': 890, 'value': 2.146917213},
                    {'Time': 891, 'value': 2.001111872},
                    {'Time': 892, 'value': 1.857866006},
                    {'Time': 893, 'value': 1.717075348},
                    {'Time': 894, 'value': 1.578639523},
                    {'Time': 895, 'value': 1.442461808},
                    {'Time': 896, 'value': 1.308448917},
                    {'Time': 897, 'value': 1.176510795},
                    {'Time': 898, 'value': 1.046560424},
                    {'Time': 899, 'value': 0.918513635},
                    {'Time': 900, 'value': 0.792288936},
                    {'Time': 901, 'value': 0.667807345},
                    {'Time': 902, 'value': 0.544992233},
                    {'Time': 903, 'value': 0.42376917},
                    {'Time': 904, 'value': 0.304065784},
                    {'Time': 905, 'value': 0.185811624},
                    {'Time': 906, 'value': 0.068938022},
                    {'Time': 907, 'value': 0.046622024},
                    {'Time': 908, 'value': 0.160933983},
                    {'Time': 909, 'value': 0.274061902},
                    {'Time': 910, 'value': 0.386068521},
                    {'Time': 911, 'value': 0.49701539},
                    {'Time': 912, 'value': 0.606962969},
                    {'Time': 913, 'value': 0.715970739},
                    {'Time': 914, 'value': 0.824097306},
                    {'Time': 915, 'value': 0.9314005},
                    {'Time': 916, 'value': 1.037937476},
                    {'Time': 917, 'value': 1.143764816},
                    {'Time': 918, 'value': 1.248938627},
                    {'Time': 919, 'value': 1.353514639},
                    {'Time': 920, 'value': 1.457548303},
                    {'Time': 921, 'value': 1.561094896},
                    {'Time': 922, 'value': 1.664209612},
                    {'Time': 923, 'value': 1.766947676},
                    {'Time': 924, 'value': 1.869364435},
                    {'Time': 925, 'value': 1.971515474},
                    {'Time': 926, 'value': 2.073456719},
                    {'Time': 927, 'value': 2.175244551},
                    {'Time': 928, 'value': 2.27693592},
                    {'Time': 929, 'value': 2.378588467},
                    {'Time': 930, 'value': 2.480260647},
                    {'Time': 931, 'value': 2.582011858},
                    {'Time': 932, 'value': 2.68390258},
                    {'Time': 933, 'value': 2.785994518},
                    {'Time': 934, 'value': 2.888350752},
                    {'Time': 935, 'value': 2.991035898},
                    {'Time': 936, 'value': 3.094116275},
                    {'Time': 937, 'value': 3.19766009},
                    {'Time': 938, 'value': 3.301737627},
                    {'Time': 939, 'value': 3.406421454},
                    {'Time': 940, 'value': 3.511786642},
                    {'Time': 941, 'value': 3.617911005},
                    {'Time': 942, 'value': 3.72487535},
                    {'Time': 943, 'value': 3.832763758},
                    {'Time': 944, 'value': 3.941663876},
                    {'Time': 945, 'value': 4.051667244},
                    {'Time': 946, 'value': 4.162869643},
                    {'Time': 947, 'value': 4.275371474},
                    {'Time': 948, 'value': 4.38927818},
                    {'Time': 949, 'value': 4.504700693},
                    {'Time': 950, 'value': 4.621755933},
                    {'Time': 951, 'value': 4.740567355},
                    {'Time': 952, 'value': 4.861265546},
                    {'Time': 953, 'value': 4.983988882},
                    {'Time': 954, 'value': 5.10888426},
                    {'Time': 955, 'value': 5.236107899},
                    {'Time': 956, 'value': 5.36582623},
                    {'Time': 957, 'value': 5.498216885},
                    {'Time': 958, 'value': 5.633469798},
                    {'Time': 959, 'value': 5.771788426},
                    {'Time': 960, 'value': 5.913391122},
                    {'Time': 961, 'value': 6.058512667},
                    {'Time': 962, 'value': 6.207405986},
                    {'Time': 963, 'value': 6.360344087},
                    {'Time': 964, 'value': 6.517622242},
                    {'Time': 965, 'value': 6.679560451},
                    {'Time': 966, 'value': 6.846506244},
                    {'Time': 967, 'value': 7.018837853},
                    {'Time': 968, 'value': 7.196967842},
                    {'Time': 969, 'value': 7.381347252},
                    {'Time': 970, 'value': 7.572470348},
                    {'Time': 971, 'value': 7.770880097},
                    {'Time': 972, 'value': 7.977174482},
                    {'Time': 973, 'value': 8.192013824},
                    {'Time': 974, 'value': 8.416129295},
                    {'Time': 975, 'value': 8.65033287},
                    {'Time': 976, 'value': 8.895528983},
                    {'Time': 977, 'value': 9.152728267},
                    {'Time': 978, 'value': 9.423063809},
                    {'Time': 979, 'value': 9.70781048},
                    {'Time': 980, 'value': 10.00840803},
                    {'Time': 981, 'value': 10.32648887},
                    {'Time': 982, 'value': 10.6639116},
                    {'Time': 983, 'value': 11.02280189},
                    {'Time': 984, 'value': 11.40560242},
                    {'Time': 985, 'value': 11.81513457},
                    {'Time': 986, 'value': 12.25467502},
                    {'Time': 987, 'value': 12.72805177},
                    {'Time': 988, 'value': 13.23976545},
                    {'Time': 989, 'value': 13.79514421},
                    {'Time': 990, 'value': 14.40054339},
                    {'Time': 991, 'value': 15.06360604},
                    {'Time': 992, 'value': 15.79360679},
                    {'Time': 993, 'value': 16.60191227},
                    {'Time': 994, 'value': 17.50260665},
                    {'Time': 995, 'value': 18.51335602},
                    {'Time': 996, 'value': 19.65662493},
                    {'Time': 997, 'value': 20.96142502},
                    {'Time': 998, 'value': 22.46588831},
                    {'Time': 999, 'value': 24.2211578},
                    {'Time': 1000, 'value': 26.29745536},
                    {'Time': 1001, 'value': 28.7938947},
                    {'Time': 1002, 'value': 31.85504558},
                    {'Time': 1003, 'value': 35.70036953},
                    {'Time': 1004, 'value': 40.67993277},
                    {'Time': 1005, 'value': 47.38854666},
                    {'Time': 1006, 'value': 56.92496418},
                    {'Time': 1007, 'value': 71.56899704},
                    {'Time': 1008, 'value': 96.95159873},
                    {'Time': 1009, 'value': 151.7895976},
                    {'Time': 1010, 'value': 358.6049182},
                    {'Time': 1011, 'value': 918.1129801},
                    {'Time': 1012, 'value': 197.9903372},
                    {'Time': 1013, 'value': 109.8665463},
                    {'Time': 1014, 'value': 75.47716983},
                    {'Time': 1015, 'value': 57.14710596},
                    {'Time': 1016, 'value': 45.74964045},
                    {'Time': 1017, 'value': 37.97238794},
                    {'Time': 1018, 'value': 32.32325974},
                    {'Time': 1019, 'value': 28.03108758},
                    {'Time': 1020, 'value': 24.65714525},
                    {'Time': 1021, 'value': 21.93343561},
                    {'Time': 1022, 'value': 19.68700458},
                    {'Time': 1023, 'value': 17.80123896},
                    {'Time': 1024, 'value': 16.19465176},
                    {'Time': 1025, 'value': 14.80858209},
                    {'Time': 1026, 'value': 13.59972521},
                    {'Time': 1027, 'value': 12.53541597},
                    {'Time': 1028, 'value': 11.59054999},
                    {'Time': 1029, 'value': 10.74551546},
                    {'Time': 1030, 'value': 9.984768612},
                    {'Time': 1031, 'value': 9.295830708},
                    {'Time': 1032, 'value': 8.668567815},
                    {'Time': 1033, 'value': 8.094664555},
                    {'Time': 1034, 'value': 7.567233496},
                    {'Time': 1035, 'value': 7.080521074},
                    {'Time': 1036, 'value': 6.629683307},
                    {'Time': 1037, 'value': 6.210612728},
                    {'Time': 1038, 'value': 5.819803377},
                    {'Time': 1039, 'value': 5.45424444},
                    {'Time': 1040, 'value': 5.111335682},
                    {'Time': 1041, 'value': 4.788819638},
                    {'Time': 1042, 'value': 4.484726813},
                    {'Time': 1043, 'value': 4.197331063},
                    {'Time': 1044, 'value': 3.925113023},
                    {'Time': 1045, 'value': 3.666729937},
                    {'Time': 1046, 'value': 3.420990614},
                    {'Time': 1047, 'value': 3.186834533},
                    {'Time': 1048, 'value': 2.963314302},
                    {'Time': 1049, 'value': 2.749580869},
                    {'Time': 1050, 'value': 2.544870996},
                    {'Time': 1051, 'value': 2.348496592},
                    {'Time': 1052, 'value': 2.159835599},
                    {'Time': 1053, 'value': 1.978324171},
                    {'Time': 1054, 'value': 1.803449932},
                    {'Time': 1055, 'value': 1.63474616},
                    {'Time': 1056, 'value': 1.47178672},
                    {'Time': 1057, 'value': 1.314181676},
                    {'Time': 1058, 'value': 1.161573443},
                    {'Time': 1059, 'value': 1.013633423},
                    {'Time': 1060, 'value': 0.87005905},
                    {'Time': 1061, 'value': 0.730571185},
                    {'Time': 1062, 'value': 0.59491182},
                    {'Time': 1063, 'value': 0.462842034},
                    {'Time': 1064, 'value': 0.334140192},
                    {'Time': 1065, 'value': 0.208600335},
                    {'Time': 1066, 'value': 0.086030741},
                    {'Time': 1067, 'value': 0.033747352},
                    {'Time': 1068, 'value': 0.150900898},
                    {'Time': 1069, 'value': 0.265586077},
                    {'Time': 1070, 'value': 0.377949216},
                    {'Time': 1071, 'value': 0.488127633},
                    {'Time': 1072, 'value': 0.596250385},
                    {'Time': 1073, 'value': 0.702438958},
                    {'Time': 1074, 'value': 0.806807882},
                    {'Time': 1075, 'value': 0.909465297},
                    {'Time': 1076, 'value': 1.010513461},
                    {'Time': 1077, 'value': 1.110049219},
                    {'Time': 1078, 'value': 1.208164428},
                    {'Time': 1079, 'value': 1.304946347},
                    {'Time': 1080, 'value': 1.400477995},
                    {'Time': 1081, 'value': 1.494838474},
                    {'Time': 1082, 'value': 1.588103276},
                    {'Time': 1083, 'value': 1.680344554},
                    {'Time': 1084, 'value': 1.771631385},
                    {'Time': 1085, 'value': 1.862029998},
                    {'Time': 1086, 'value': 1.951604001},
                    {'Time': 1087, 'value': 2.040414578},
                    {'Time': 1088, 'value': 2.128520681},
                    {'Time': 1089, 'value': 2.215979203},
                    {'Time': 1090, 'value': 2.302845145},
                    {'Time': 1091, 'value': 2.389171768},
                    {'Time': 1092, 'value': 2.475010734},
                    {'Time': 1093, 'value': 2.560412246},
                    {'Time': 1094, 'value': 2.645425169},
                    {'Time': 1095, 'value': 2.730097157},
                    {'Time': 1096, 'value': 2.814474758},
                    {'Time': 1097, 'value': 2.898603529},
                    {'Time': 1098, 'value': 2.982528133},
                    {'Time': 1099, 'value': 3.066292438},
                    {'Time': 1100, 'value': 3.149939613},
                    {'Time': 1101, 'value': 3.233512213},
                    {'Time': 1102, 'value': 3.31705227},
                    {'Time': 1103, 'value': 3.40060137},
                    {'Time': 1104, 'value': 3.484200742},
                    {'Time': 1105, 'value': 3.567891328},
                    {'Time': 1106, 'value': 3.651713867},
                    {'Time': 1107, 'value': 3.735708965},
                    {'Time': 1108, 'value': 3.81991717},
                    {'Time': 1109, 'value': 3.904379049},
                    {'Time': 1110, 'value': 3.989135253},
                    {'Time': 1111, 'value': 4.074226599},
                    {'Time': 1112, 'value': 4.159694129},
                    {'Time': 1113, 'value': 4.245579196},
                    {'Time': 1114, 'value': 4.331923525},
                    {'Time': 1115, 'value': 4.418769294},
                    {'Time': 1116, 'value': 4.506159205},
                    {'Time': 1117, 'value': 4.594136561},
                    {'Time': 1118, 'value': 4.682745341},
                    {'Time': 1119, 'value': 4.772030281},
                    {'Time': 1120, 'value': 4.862036957},
                    {'Time': 1121, 'value': 4.952811865},
                    {'Time': 1122, 'value': 5.044402509},
                    {'Time': 1123, 'value': 5.136857494},
                    {'Time': 1124, 'value': 5.230226613},
                    {'Time': 1125, 'value': 5.32456095},
                    {'Time': 1126, 'value': 5.41991298},
                    {'Time': 1127, 'value': 5.516336672},
                    {'Time': 1128, 'value': 5.613887605},
                    {'Time': 1129, 'value': 5.712623084},
                    {'Time': 1130, 'value': 5.812602262},
                    {'Time': 1131, 'value': 5.91388627},
                    {'Time': 1132, 'value': 6.016538358},
                    {'Time': 1133, 'value': 6.120624036},
                    {'Time': 1134, 'value': 6.226211234},
                    {'Time': 1135, 'value': 6.333370463},
                    {'Time': 1136, 'value': 6.442174989},
                    {'Time': 1137, 'value': 6.552701021},
                    {'Time': 1138, 'value': 6.66502791},
                    {'Time': 1139, 'value': 6.77923836},
                    {'Time': 1140, 'value': 6.895418654},
                    {'Time': 1141, 'value': 7.013658902},
                    {'Time': 1142, 'value': 7.134053294},
                    {'Time': 1143, 'value': 7.256700387},
                    {'Time': 1144, 'value': 7.381703403},
                    {'Time': 1145, 'value': 7.509170552},
                    {'Time': 1146, 'value': 7.639215384},
                    {'Time': 1147, 'value': 7.771957166},
                    {'Time': 1148, 'value': 7.907521286},
                    {'Time': 1149, 'value': 8.046039696},
                    {'Time': 1150, 'value': 8.187651391},
                    {'Time': 1151, 'value': 8.332502924},
                    {'Time': 1152, 'value': 8.480748968},
                    {'Time': 1153, 'value': 8.632552932},
                    {'Time': 1154, 'value': 8.788087621},
                    {'Time': 1155, 'value': 8.947535964},
                    {'Time': 1156, 'value': 9.111091808},
                    {'Time': 1157, 'value': 9.278960783},
                    {'Time': 1158, 'value': 9.45136125},
                    {'Time': 1159, 'value': 9.628525342},
                    {'Time': 1160, 'value': 9.810700106},
                    {'Time': 1161, 'value': 9.99814876},
                    {'Time': 1162, 'value': 10.19115207},
                    {'Time': 1163, 'value': 10.3900099},
                    {'Time': 1164, 'value': 10.59504286},
                    {'Time': 1165, 'value': 10.80659421},
                    {'Time': 1166, 'value': 11.02503191},
                    {'Time': 1167, 'value': 11.25075095},
                    {'Time': 1168, 'value': 11.48417588},
                    {'Time': 1169, 'value': 11.72576368},
                    {'Time': 1170, 'value': 11.97600697},
                    {'Time': 1171, 'value': 12.2354376},
                    {'Time': 1172, 'value': 12.50463062},
                    {'Time': 1173, 'value': 12.78420886},
                    {'Time': 1174, 'value': 13.07484801},
                    {'Time': 1175, 'value': 13.37728238},
                    {'Time': 1176, 'value': 13.69231145},
                    {'Time': 1177, 'value': 14.02080733},
                    {'Time': 1178, 'value': 14.36372319},
                    {'Time': 1179, 'value': 14.72210298},
                    {'Time': 1180, 'value': 15.09709253},
                    {'Time': 1181, 'value': 15.48995235},
                    {'Time': 1182, 'value': 15.90207237},
                    {'Time': 1183, 'value': 16.33498904},
                    {'Time': 1184, 'value': 16.79040522},
                    {'Time': 1185, 'value': 17.27021336},
                    {'Time': 1186, 'value': 17.77652269},
                    {'Time': 1187, 'value': 18.31169128},
                    {'Time': 1188, 'value': 18.87836382},
                    {'Time': 1189, 'value': 19.47951663},
                    {'Time': 1190, 'value': 20.11851142},
                    {'Time': 1191, 'value': 20.79915971},
                    {'Time': 1192, 'value': 21.52580082},
                    {'Time': 1193, 'value': 22.30339654},
                    {'Time': 1194, 'value': 23.13764693},
                    {'Time': 1195, 'value': 24.03513305},
                    {'Time': 1196, 'value': 25.00349405},
                    {'Time': 1197, 'value': 26.05164882},
                    {'Time': 1198, 'value': 27.19007575},
                    {'Time': 1199, 'value': 28.43116926},
                    {'Time': 1200, 'value': 29.78969884},
                    {'Time': 1201, 'value': 31.28340663},
                    {'Time': 1202, 'value': 32.93379506},
                    {'Time': 1203, 'value': 34.76717889},
                    {'Time': 1204, 'value': 36.81611144},
                    {'Time': 1205, 'value': 39.1213499},
                    {'Time': 1206, 'value': 41.73461366},
                    {'Time': 1207, 'value': 44.72253568},
                    {'Time': 1208, 'value': 48.17245586},
                    {'Time': 1209, 'value': 52.20114239},
                    {'Time': 1210, 'value': 56.96832665},
                    {'Time': 1211, 'value': 62.69846472},
                    {'Time': 1212, 'value': 69.71721716},
                    {'Time': 1213, 'value': 78.51573565},
                    {'Time': 1214, 'value': 89.87108442},
                    {'Time': 1215, 'value': 105.0897219},
                    {'Time': 1216, 'value': 126.5508773},
                    {'Time': 1217, 'value': 159.0920815},
                    {'Time': 1218, 'value': 214.2899276},
                    {'Time': 1219, 'value': 328.4660847},
                    {'Time': 1220, 'value': 704.6822168},
                    {'Time': 1221, 'value': 4766.96148},
                    {'Time': 1222, 'value': 542.7870331},
                    {'Time': 1223, 'value': 287.4515699},
                    {'Time': 1224, 'value': 195.3309084},
                    {'Time': 1225, 'value': 147.8287261},
                    {'Time': 1226, 'value': 118.8455664},
                    {'Time': 1227, 'value': 99.316327},
                    {'Time': 1228, 'value': 85.26247003},
                    {'Time': 1229, 'value': 74.66323907},
                    {'Time': 1230, 'value': 66.38333281},
                    {'Time': 1231, 'value': 59.7358014},
                    {'Time': 1232, 'value': 54.28060652},
                    {'Time': 1233, 'value': 49.72283293},
                    {'Time': 1234, 'value': 45.85741892},
                    {'Time': 1235, 'value': 42.53735803},
                    {'Time': 1236, 'value': 39.65451184},
                    {'Time': 1237, 'value': 37.12756063},
                    {'Time': 1238, 'value': 34.89417479},
                    {'Time': 1239, 'value': 32.9057772},
                    {'Time': 1240, 'value': 31.12394851},
                    {'Time': 1241, 'value': 29.51790394},
                    {'Time': 1242, 'value': 28.06268659},
                    {'Time': 1243, 'value': 26.73785062},
                    {'Time': 1244, 'value': 25.52648605},
                    {'Time': 1245, 'value': 24.41448606},
                    {'Time': 1246, 'value': 23.38998919},
                    {'Time': 1247, 'value': 22.44294972},
                    {'Time': 1248, 'value': 21.56480298},
                    {'Time': 1249, 'value': 20.7482021},
                    {'Time': 1250, 'value': 19.98680898},
                    {'Time': 1251, 'value': 19.27512687},
                    {'Time': 1252, 'value': 18.60836522},
                    {'Time': 1253, 'value': 17.9823298},
                    {'Time': 1254, 'value': 17.39333271},
                    {'Time': 1255, 'value': 16.83811814},
                    {'Time': 1256, 'value': 16.31380096},
                    {'Time': 1257, 'value': 15.81781534},
                    {'Time': 1258, 'value': 15.34787179},
                    {'Time': 1259, 'value': 14.90192091},
                    {'Time': 1260, 'value': 14.47812273},
                    {'Time': 1261, 'value': 14.0748206},
                    {'Time': 1262, 'value': 13.69051888},
                    {'Time': 1263, 'value': 13.3238639},
                    {'Time': 1264, 'value': 12.97362742},
                    {'Time': 1265, 'value': 12.63869248},
                    {'Time': 1266, 'value': 12.31804103},
                    {'Time': 1267, 'value': 12.01074322},
                    {'Time': 1268, 'value': 11.71594808},
                    {'Time': 1269, 'value': 11.43287527},
                    {'Time': 1270, 'value': 11.16080791},
                    {'Time': 1271, 'value': 10.89908627},
                    {'Time': 1272, 'value': 10.64710217},
                    {'Time': 1273, 'value': 10.404294},
                    {'Time': 1274, 'value': 10.17014241},
                    {'Time': 1275, 'value': 9.94416635},
                    {'Time': 1276, 'value': 9.725919597},
                    {'Time': 1277, 'value': 9.514987683},
                    {'Time': 1278, 'value': 9.310985095},
                    {'Time': 1279, 'value': 9.113552787},
                    {'Time': 1280, 'value': 8.922355945},
                    {'Time': 1281, 'value': 8.73708197},
                    {'Time': 1282, 'value': 8.557438658},
                    {'Time': 1283, 'value': 8.383152564},
                    {'Time': 1284, 'value': 8.213967512},
                    {'Time': 1285, 'value': 8.049643247},
                    {'Time': 1286, 'value': 7.889954219},
                    {'Time': 1287, 'value': 7.734688461},
                    {'Time': 1288, 'value': 7.583646588},
                    {'Time': 1289, 'value': 7.436640863},
                    {'Time': 1290, 'value': 7.293494361},
                    {'Time': 1291, 'value': 7.154040195},
                    {'Time': 1292, 'value': 7.018120811},
                    {'Time': 1293, 'value': 6.88558734},
                    {'Time': 1294, 'value': 6.756299002},
                    {'Time': 1295, 'value': 6.630122565},
                    {'Time': 1296, 'value': 6.506931836},
                    {'Time': 1297, 'value': 6.386607204},
                    {'Time': 1298, 'value': 6.269035209},
                    {'Time': 1299, 'value': 6.154108149},
                    {'Time': 1300, 'value': 6.041723715},
                    {'Time': 1301, 'value': 5.931784656},
                    {'Time': 1302, 'value': 5.824198465},
                    {'Time': 1303, 'value': 5.718877091},
                    {'Time': 1304, 'value': 5.615736668},
                    {'Time': 1305, 'value': 5.514697268},
                    {'Time': 1306, 'value': 5.415682669},
                    {'Time': 1307, 'value': 5.318620138},
                    {'Time': 1308, 'value': 5.223440232},
                    {'Time': 1309, 'value': 5.13007661},
                    {'Time': 1310, 'value': 5.038465855},
                    {'Time': 1311, 'value': 4.948547318},
                    {'Time': 1312, 'value': 4.860262961},
                    {'Time': 1313, 'value': 4.773557214},
                    {'Time': 1314, 'value': 4.688376846},
                    {'Time': 1315, 'value': 4.604670833},
                    {'Time': 1316, 'value': 4.522390251},
                    {'Time': 1317, 'value': 4.441488157},
                    {'Time': 1318, 'value': 4.361919492},
                    {'Time': 1319, 'value': 4.283640983},
                    {'Time': 1320, 'value': 4.206611049},
                    {'Time': 1321, 'value': 4.130789722},
                    {'Time': 1322, 'value': 4.05613856},
                    {'Time': 1323, 'value': 3.982620576},
                    {'Time': 1324, 'value': 3.910200165},
                    {'Time': 1325, 'value': 3.838843037},
                    {'Time': 1326, 'value': 3.768516154},
                    {'Time': 1327, 'value': 3.699187669},
                    {'Time': 1328, 'value': 3.630826871},
                    {'Time': 1329, 'value': 3.563404131},
                    {'Time': 1330, 'value': 3.496890852},
                    {'Time': 1331, 'value': 3.431259421},
                    {'Time': 1332, 'value': 3.366483163},
                    {'Time': 1333, 'value': 3.3025363},
                    {'Time': 1334, 'value': 3.239393909},
                    {'Time': 1335, 'value': 3.177031884},
                    {'Time': 1336, 'value': 3.115426899},
                    {'Time': 1337, 'value': 3.054556376},
                    {'Time': 1338, 'value': 2.994398448},
                    {'Time': 1339, 'value': 2.934931932},
                    {'Time': 1340, 'value': 2.876136296},
                    {'Time': 1341, 'value': 2.817991632},
                    {'Time': 1342, 'value': 2.760478631},
                    {'Time': 1343, 'value': 2.703578553},
                    {'Time': 1344, 'value': 2.647273209},
                    {'Time': 1345, 'value': 2.59154493},
                    {'Time': 1346, 'value': 2.536376554},
                    {'Time': 1347, 'value': 2.481751396},
                    {'Time': 1348, 'value': 2.427653234},
                    {'Time': 1349, 'value': 2.374066288},
                    {'Time': 1350, 'value': 2.3209752},
                    {'Time': 1351, 'value': 2.268365019},
                    {'Time': 1352, 'value': 2.216221183},
                    {'Time': 1353, 'value': 2.164529502},
                    {'Time': 1354, 'value': 2.113276145},
                    {'Time': 1355, 'value': 2.062447624},
                    {'Time': 1356, 'value': 2.012030779},
                    {'Time': 1357, 'value': 1.962012767},
                    {'Time': 1358, 'value': 1.912381045},
                    {'Time': 1359, 'value': 1.863123363},
                    {'Time': 1360, 'value': 1.814227746},
                    {'Time': 1361, 'value': 1.765682488},
                    {'Time': 1362, 'value': 1.717476137},
                    {'Time': 1363, 'value': 1.669597489},
                    {'Time': 1364, 'value': 1.62203557},
                    {'Time': 1365, 'value': 1.574779634},
                    {'Time': 1366, 'value': 1.527819152},
                    {'Time': 1367, 'value': 1.481143797},
                    {'Time': 1368, 'value': 1.434743444},
                    {'Time': 1369, 'value': 1.388608154},
                    {'Time': 1370, 'value': 1.342728171},
                    {'Time': 1371, 'value': 1.297093909},
                    {'Time': 1372, 'value': 1.251695951},
                    {'Time': 1373, 'value': 1.206525035},
                    {'Time': 1374, 'value': 1.161572052},
                    {'Time': 1375, 'value': 1.116828033},
                    {'Time': 1376, 'value': 1.07228415},
                    {'Time': 1377, 'value': 1.027931703},
                    {'Time': 1378, 'value': 0.983762117},
                    {'Time': 1379, 'value': 0.939766932},
                    {'Time': 1380, 'value': 0.895937805},
                    {'Time': 1381, 'value': 0.852266493},
                    {'Time': 1382, 'value': 0.808744856},
                    {'Time': 1383, 'value': 0.76536485},
                    {'Time': 1384, 'value': 0.722118516},
                    {'Time': 1385, 'value': 0.678997982},
                    {'Time': 1386, 'value': 0.635995452},
                    {'Time': 1387, 'value': 0.593103205},
                    {'Time': 1388, 'value': 0.550313588},
                    {'Time': 1389, 'value': 0.50761901},
                    {'Time': 1390, 'value': 0.465011939},
                    {'Time': 1391, 'value': 0.422484898},
                    {'Time': 1392, 'value': 0.380030457},
                    {'Time': 1393, 'value': 0.337641232},
                    {'Time': 1394, 'value': 0.295309876},
                    {'Time': 1395, 'value': 0.25302908},
                    {'Time': 1396, 'value': 0.210791565},
                    {'Time': 1397, 'value': 0.168590077},
                    {'Time': 1398, 'value': 0.126417384},
                    {'Time': 1399, 'value': 0.084266273},
                    {'Time': 1400, 'value': 0.042129543}]
        }
      }
    }
}
</script>