<template>
  <div id="app" class="whole-site">
    <el-row type="flex">
        <el-col :span="3" name="sidebar">
          <el-aside width="300px">
              <NavMenu/>
          </el-aside>
        </el-col>
        <el-col>
          <el-header name="header">
              <el-page-header @back="goBack" content="">
              </el-page-header>
          </el-header>
          <el-main>
            <router-view></router-view>
          </el-main>
        </el-col>
    </el-row>
      <!-- <el-container>
      
      <el-container>
        
      </el-container>
    </el-container> -->
  </div>
</template>

<script>
// @ is an alias to /src
import NavMenu from './components/NavMenu'

export default {
  name: 'home',
  components: {
     NavMenu
  },
  methods: {
      goBack() {
        this.$router.push({ path: `/home` });
      }
    }
}
</script>

<style>

.bg-blue {
    background: #409EFF;
  }

.whole-site{
  font-family: "Hiragino Sans GB"
}

</style>







